


<div class="photography">
  <div class="container-fluid">
    <% @gphoto = (1..18) %>

    <% tag = 0 %>
    <% @gphoto.each do |photo| %>
      <% tag +=1 %>
      <% link = "https://s3.us-east-2.amazonaws.com/hsdh-gallery/gallery-img"+"#{tag}"+".jpg" %>
      <%= link_to(image_tag("#{link}", class: 'img-responsive gall', alt: 'High Seas Design House - Photography Gallery'), image_path("#{link}"), data: { lightbox: "example-set", title: "High Seas Design House Image Gallery"}) %>
    <% end %>
    <div class="clearfix"></div>

    <% @pphoto = (1..5) %>
    <% tag = 0 %>
    <% @pphoto.each do |photo| %>
      <% tag +=1 %>
      <% link = "https://s3.us-east-2.amazonaws.com/hsdh-gallery/gallery-prod"+"#{tag}"+".jpg" %>
      <%= link_to(image_tag("#{link}", class: 'img-responsive gall', alt: 'High Seas Design House - Photography Gallery'), image_path("#{link}"), data: { lightbox: "example-set", title: "High Seas Design House Image Gallery"}) %>
    <% end %>



    <% @vphoto = (1..3) %>
    <% tag = 0 %>
    <% @vphoto.each do |photo| %>
      <% tag +=1 %>
      <% link = "https://s3.us-east-2.amazonaws.com/hsdh-gallery/gallery-port"+"#{tag}"+".jpg" %>
      <%= link_to(image_tag("#{link}", class: 'img-responsive gall vert', alt: 'High Seas Design House - Photography Gallery'), image_path("#{link}"), data: { lightbox: "example-set", title: "High Seas Design House Image Gallery"}) %>
    <% end %>
    <div class="clearfix"></div>


  </div>
</div>
