<% @page_title = "Photography Gallery" %>
<% @page_description = "Photography is one of our specialties at High Seas. Scroll through our portfolio of photos, to see some of our work." %>

<div class="hd-box">
  <div class="container">
    <h1>Photography Portfolio</h1>
  </div>
</div>

<div class="photography">
  <div class="container-fluid">
    <div class="box">
      <p>Because professionally taken photos are a very powerful sales tool, when High Seas is hired to build a website, we include a visit from our photographer.</p>
      <hr>
      <p>Showcasing high-quality images associated with your work, products you sell, or even a nice office space can be incredibly influential in convincing someone to bring their business to you. Similarly, displaying low-quality, obscure photos can have the opposite effect.</p>
      <hr>
      <p> This is especially true for ecommerce sites, when product photos can make or break a sale.</p>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <% @gphoto = (1..9) %>
          <% tag = 0 %>
          <% @gphoto.each do |photo| %>
            <% tag +=1 %>
            <% link = "https://s3.us-east-2.amazonaws.com/hsdh-gallery/gallery-img"+"#{tag}"+".jpg" %>
            <%= link_to(image_tag("#{link}", class: 'img-responsive gall', alt: 'High Seas Design House - Photography Gallery'), image_path("#{link}"), data: { lightbox: "example-set", title: "High Seas Design House Image Gallery"}) %>
          <% end %>
        </div>

        <div class="item two">
          <% @gphoto = (10..19) %>
          <% tag = 9 %>
          <% @gphoto.each do |photo| %>
            <% tag +=1 %>
            <% link = "https://s3.us-east-2.amazonaws.com/hsdh-gallery/gallery-img"+"#{tag}"+".jpg" %>
            <%= link_to(image_tag("#{link}", class: 'img-responsive gall', alt: 'High Seas Design House - Photography Gallery'), image_path("#{link}"), data: { lightbox: "example-set", title: "High Seas Design House Image Gallery"}) %>
          <% end %>
        </div>
      </div>

        <div class="controls">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span>Back</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span>Next</span>
          </a>
        </div>
    </div>
  </div>
</div>
