<% @page_title = "SEM" %>
<% @page_description = "High Seas Design House offers Digital Advertising services that deliver measurable results, and take the guesswork out of your marketing." %>


<section class="sem-page">
	<section class="sem-sec1">
		<div class="bg-over">
			<div class="container">
				<!-- <div class="col-md-6 col-xs-12"> -->
					<div class="title-box wow fadeInDown" data-wow-delay="0.1s">
						<h1>Digital <span>Advertising</span></h1>
						<h2 class="title">Ad services that deliver measurable results </h2>
					</div>
				<!-- </div> -->
			</div>
		</div>
	</section>

	<section class="sem-wrap">
		<div class="light-bg">
			<div class="content">
					<h3>We offer the ability to take the guesswork out of your marketing.</h3>
					<p><b>Attract new website visitors, or use the web to re-engage with your current audience.</b><br> Whether you're selling a product or promoting a service, High Seas helps you reach customers where and when it matters.</p>
			</div>
		</div>

		<section class="campaigns">
			<div class="container-fluid no-padding-r">
				<div class="lcontent">
					<div class="intro wow fadeInLeft" data-wow-delay="0.1s">
						<h2 class="title">Building Your Ad Campaign</h2>
						<p>High Seas Design House is an agency that believes in creating customized digital ad campaigns that are tailored to your business goals.</p>
						<p>We specialize in Paid Search (SEM) - but reach your ideal customer across a wide spectrum of platform agnostic sources. </p>
					</div>
					<div class="google-badge">
						​<script src="https://apis.google.com/js/platform.js"></script>
						<div class="g-partnersbadge" data-agency-id="2338730796"></div>
					</div>
					<%=image_tag('bing-partner.png', alt: 'High Seas Design House, Orange Beach, Al - Digital Advertising Google Partners', class: 'img-responsive bp-img') %>
				</div>
				<div class="rcontent">
					<div class="sem-serv">
						<div class="col-md-12 col-xs-12">
							<span><i class="sem-con"></i></span>
							<h4><b>Search Engine Marketing</b></h4> <p>on Google AdWords &amp; Bing Ads</p>
						</div>
						<div class="col-md-12 col-xs-12">
							<span><i class="sem-con"></i></span>
							<h4><b>Digital Display</b></h4> <p>Purchased Programmatically Across a Variety of Publishers</p>
						</div>
						<div class="col-md-12 col-xs-12">
							<span><i class="sem-con"></i></span>
							<h4><b>Digital Video</b> (Pre-Roll)</h4> <p>on the Google Video Display Network</p>
						</div>
						<div class="col-md-12 col-xs-12">
							<span><i class="sem-con"></i></span>
							<h4><b>Google Shopping Campaigns</b></h4>
						</div>
					</div>
				</div>
			</div>
		</section>

	</section>

