<% @page_title = "Photography Portfolio" %>
<% @page_description = "Photography is one of our specialties at High Seas. Scroll through our portfolio of photos, to see some of our work." %>

<div class="hd-box">
  <h1>Photography Portfolio</h1>
</div>

<div class="text-center"><%= will_paginate %></div>

<div class="photography">
  <div class="container">
    <% @photo = (1..18) %>

    <% tag = 0 %>
    <% @photo.each do |photo| %>
      <% tag +=1 %>
      <% link = "https://s3.us-east-2.amazonaws.com/hsdh-gallery/gallery-img"+"#{tag}"+".jpg" %>
      <%= link_to(image_tag("#{link}", class: 'img-responsive gall', alt: 'High Seas Design House - Photography Gallery'), image_path("#{link}"), data: { lightbox: "example-set", title: "High Seas Design House Image Gallery"}) %>
    <% end %>
    <div class="clearfix"></div>

<!--     <% @pphoto = (1..5) %>
    <% tag = 0 %>
    <% @pphoto.each do |photo| %>
      <% tag +=1 %>
      <% link = "https://s3.us-east-2.amazonaws.com/hsdh-gallery/gallery-prod"+"#{tag}"+".jpg" %>
      <%= link_to(image_tag("#{link}", class: 'img-responsive gall', alt: 'High Seas Design House - Photography Gallery'), image_path("#{link}"), data: { lightbox: "example-set", title: "High Seas Design House Image Gallery"}) %>
    <% end %>

    <% @vphoto = (1..3) %>
    <% tag = 0 %>
    <% @vphoto.each do |photo| %>
      <% tag +=1 %>
      <% link = "https://s3.us-east-2.amazonaws.com/hsdh-gallery/gallery-port"+"#{tag}"+".jpg" %>
      <%= link_to(image_tag("#{link}", class: 'img-responsive gall vert', alt: 'High Seas Design House - Photography Gallery'), image_path("#{link}"), data: { lightbox: "example-set", title: "High Seas Design House Image Gallery"}) %>
    <% end %>
    <div class="clearfix"></div> -->


  </div>
</div>
