@mixin center-block () {
	float:none;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin grayscale () {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@mixin ease () {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@mixin sec-default () {
	width: 100%;
	float: left;
}

@mixin sec-bgimage () {
	background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

@mixin service-link () {
    font-size: 15px;
    color: $white;
    font-weight: bold;
    border:1px solid $teal;
    padding:15px 20px;
    float: right;
    margin-top:10px;
    background: $dark;
    &:hover { background: $light-gray; color: $teal; text-decoration: none;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
    }
}

@mixin slopey-layout-r {
  .se-slope{
    margin: 0 -50px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
  }
  .se-slope:nth-child(even){
    background: $teal;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    margin-top: -200px;
    box-shadow: 0px -1px 3px rgba(0,0,0,0.4);
  }
  .se-slope:nth-child(odd){
    background: $white;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4) inset;
  }
  .se-content{
    margin: 0 auto;
  }
  .se-content p{
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.3em;
    padding-top: 10px;
  }
  .se-slope:nth-child(even) .se-content{
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    color: $b-gray;
  }
  .se-slope:nth-child(odd) .se-content{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    color: $black;
  }
}


// Breakpoints
// @mixin bp($point) {
//   @if $point == tb {
//     @media (max-width: 992px)  { @content ; }
//   }

//   @else if $point == md {
//     @media (max-width: 768px)  { @content ; }
//   }

//   @else if $point == sm {
//     @media (max-width: 640px)  { @content ; }
//   }

//   @else if $point == xs {
//     @media (max-width: 320px)  { @content ; }
//   }

//   @else if $point == iv {
//     @media only screen and (min-width: 320px) and (max-width: 580px) { @content ; }
//   }
// }

@mixin bp($point) {
  @if $point == dt {
    @media (min-width: 1200px) { @content ; }
  }

  @else if $point == xl {
    @media (min-width: 1025px) { @content ; }
  }

  @else if $point == tb {
    @media (max-width: 1025px)  { @content ; }
  }

  @else if $point == md {
    @media (max-width: 768px)  { @content ; }
  }

  @else if $point == pl {
    @media (max-width: 737px)  { @content ; }
  }

  @else if $point == mb {
    @media (max-width: 670px)  { @content ; }
  }

  @else if $point == ph {
    @media (max-width: 570px)  { @content ; }
  }

  @else if $point == sm {
    @media (max-width: 420px)  { @content ; }
  }

  @else if $point == xs {
    @media (max-width: 376px)  { @content ; }
  }

  @else if $point == xx {
    @media (max-width: 320px)  { @content ; }
  }

  @else if $point == ls {
    @media (min-width: 767px)  { @content ; }
  }
}
