$josef: 'Josefin Sans', sans-serif;
$lato: "Lato", Georgia, "Times New Roman", Times, serif;
$raleway: "Raleway", Georgia, "Times New Roman", Times, serif;
$poppins: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
$pro:'Source Sans Pro', sans-serif;
$roboto: 'Roboto', sans-serif;

$black: #000;
$dark: #222;
$darkBtn: $dark;
$darkBdr: $dark;
$white: #fff;
$dark2 : #262626;
$teal: #2aca9c;
$lt-teal: #CCFCF8;
$gray: #696969;
$b-gray: #4a575f;
$newteal: #10C5A1;
$dk-newteal: #0c9d80;
$light-gray: #ececec;
$silver: #dee7e9;
$off-white: #f9f9f9;
$color1:teal;
$cloudColor:#ecf0f1;
$cream: #FBFAF6;
$sea: #eef8f7;
$f6: #f6f6f6;
$f7: #f7f7f7;
$blue:#0588E9;

