@import "variables";
@import "mixins";


header {
  .main-menu {
    position: relative;
    text-align:center;
  }
  .navbar-default {
    background-color: $white;
    border: none;
    margin-bottom:0;
    border-radius:0;
    position:relative;
  }
  .logo-header { padding-top:20px}
  .navbar-default .navbar-nav { float: right; padding-top:15px; padding-bottom: 15px;}
  .navbar-default .navbar-nav>li>a {
    color: $dark;
    display:block;
    font-size: 16px;
    padding:3px 10px 5px;
    font-family: $lato;
    letter-spacing:1px;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-left: auto;
    margin-right:20px;

    @media only screen and (min-width: 1500px) {padding-top:15px;}
  }

  /*Dropdown CSS*/
  .navbar-nav>li>.dropdown-menu {
    padding:12px 0;
    display:none;
  }
  .has-child:hover >.dropdown{display:block;width:175px; }

  .navbar-nav>li:hover > ul.dropdown-menu{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }

  .dropdown-menu>li {
    margin-left:0;
  }

  .dropdown-menu>li>a {
    color:$white;
    padding:5px 20px;
  }

  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus{
    background-color:transparent;
  }

  @include bp(md) {
    .navbar-default:after,
    .navbar-default .navbar-nav > li > a:before { display:none}
  }

  .megamenu-parent {
    .module{ padding:10px}
    .dropdown{margin:0; margin-top:-1px; position:absolute; z-index:999; display:none; width: 100%;}
    .dropdown .dropdown-inner{ width: 100%; background:$white; box-shadow:0 3px 5px 0 rgba(0,0,0,0.2); padding:10px 3px 10px 8px; border-radius: 5px;}
    .dropdown .dropdown-items{ width:100%; list-style:none; padding:0; margin:0; text-transform:none;}
    .dropdown.dropdown-main{top:100%; width:180px;}

    .dropdown.dropdown-main.menu-left{right:0;}
    .dropdown.dropdown-sub{top:0; left:100%;}
    .dropdown.dropdown-sub .dropdown-inner{box-shadow:0 0 5px rgba(0,0,0,0.2);}

    .dropdown li.menu-item{display:block; padding:0; position:relative; font-size:16px; width: 100%; text-align:left;}
    .dropdown li.menu-item >a{width:100%; display:block; padding: 7px 10px; color:$teal; cursor:pointer;}
    .has-child:hover >.dropdown{display:block;}

    .dropdown li.menu-item >a:hover {text-decoration: none; font-weight: bold; color:$black}
  }
  .megamenu-parent.menu-zoom .has-child:hover >.dropdown{-webkit-animation:spMenuZoom 400ms; animation:spMenuZoom 400ms;}
  .megamenu-parent.menu-fade-up .has-child:hover >.dropdown{-webkit-animation:spMenuFadeInUp 400ms; animation:spMenuFadeInUp 400ms;}
}

.top-contact {
  @include sec-default ();
  padding-top:10px;
  text-align: left;
  font-weight:bold;}
.tel-head { float: left; color: $b-gray; padding-left: 30px; font-size: 15px;font-family: $lato;
  &:hover {color: $teal;}
}
.email { float: right; color: $b-gray; padding-right:15px; font-size: 15px;font-family: $lato;
  &:hover {color: $teal; text-decoration: none;}
}


ul.social-links{ padding-left: 0;
  li { display: inline-block; margin-right: 5px;
    .social-icon {
      width: 18px;
      height: 18px;
    }

    i {color: $dark; padding-right: 10px; font-size: 15px;
      &:hover {color: $teal;}
    }
  }
}

/////////Optional Tablet Full Row Nav //////////////
// @include bp(tb) {
//     .logo-block {width:100%;}
//     .logo-img{ @include center-block();}
//     .mega-tab { @include sec-default (); text-align: center;}
//     .megamenu-parent { float:none;
//         li { margin: 0 12px;}
//     }
// }
.mobile-contact {display: none;}

#offcanvas-toggler {
  width: 100%;
  float:none;
  background-color:$teal;
  margin-left: auto;
  margin-right: auto;
  display:none;
  padding: 10px auto;
  height: 50px;

    h4 {color:$white; line-height:2em; padding-top:10px; font-family: $lato; }
    h4:hover {color:$black; text-decoration:none; }
    // .m-phone { color: $dark;}

}

.offcanvas-menu .offcanvas-inner .module ul > li > a:hover{color:$white; background:$dark}
.offcanvas-menu{color:#292c2f}
h3.module-title {color: $dark;}

.offcanvas-menu .menu .parent .toggle-icon{position:absolute; right:15px; top:4px; padding:4px 6px; border:1px solid #e9e9e9; border-radius:4px; background:#f6f6f6; cursor:pointer; -webkit-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out; transition:all 0.2s ease-out}
.offcanvas-menu .menu .parent .toggle-icon:hover{background:$dark; border-color:$dark; color:$white}

.offcanvas-menu .menu .nav-child.small > li::before{display:none}
.offcanvas-menu .offcanvas-inner .module .menu .nav-child a{padding:4px 25px}
.offcanvas-menu .menu ul li{position:relative}

.main-menu { height:auto}

.close-offcanvas{position:absolute; top:15px; right:15px; z-index:1; color:#000; border:2px solid #eee; border-radius:100%; width:22px; height:22px; line-height:18px; text-align:center; font-size:12px}
.close-offcanvas:hover{background:#000; color:#fff}
.offcanvas-menu{width:280px; height:100%; background:#fff; color:rgba(255,255,255,0.5); position:fixed; top:0; opacity:0; z-index:9999; overflow-y:scroll}
.offcanvas-menu .offcanvas-inner{padding:20px}
.offcanvas-menu .offcanvas-inner .module{margin-top:20px}
.offcanvas-menu .offcanvas-inner .module ul > li{border:none; margin-bottom:10px; }
.offcanvas-menu .offcanvas-inner .module ul > li a{border-bottom:1px dotted #e8e8e8; -webkit-transition:300ms; -o-transition:300ms; transition:300ms; padding:4px 20px}
.offcanvas-menu .offcanvas-inner .module ul > li a:hover{background:#f5f5f5}
.offcanvas-menu .offcanvas-inner .module ul > li >a:before{display:none}
.offcanvas-menu .offcanvas-inner .module:first-child{margin-top:0}
.offcanvas-menu .offcanvas-inner .module .module-content > ul{margin:0 -20px}
.offcanvas-menu .offcanvas-inner .search{margin-top:25px}
.offcanvas-menu .offcanvas-inner .search input{width:100%; border-radius:0; border:1px solid #eee; box-shadow:none; -webkit-box-shadow:none}
.offcanvas-menu{-webkit-transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1); transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1)}
.body-innerwrapper:after{right:0}
.offcanvas-menu{right:-280px}
.offcanvas .offcanvas-menu{right:0}
.body-innerwrapper:after{position:absolute; top:0; width:0; height:0; background:rgba(0,0,0,0.8); content:''; opacity:0; -webkit-transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; z-index:999}
.offcanvas{width:100%; height:100%; position:relative}
.offcanvas .body-innerwrapper:after{width:100%; height:100%; opacity:1; -webkit-transition:opacity 0.5s; transition:opacity 0.5s}
.offcanvas .offcanvas-menu{opacity:1}
.menu .nav-child.small{font-size:inherit}


@include bp(md) {
  .logo-box {@include sec-default(); padding-bottom:15px;}
  .top-contact {display: none;}
  #offcanvas-toggler { display:block }
  .mobile-contact {display: block; text-align: center; padding-top:10px;
    .tel-head, .email {@include center-block(); }
    .email {margin-bottom: 5px; margin-top: 5px;}
  }
}

