@import "variables";
@import "mixins";


.megamenu-parent {list-style:none;padding:0;margin:0;z-index:9;display:block;float:right;
    li{display:inline-block;position:relative;padding:0;border-top: 3px solid transparent; margin: 0 15px;
        &:last-child{margin-right: 5px;}
        &:hover {border-top: 3px solid $teal;}
        a{display:inline-block;font-size: 14px; color: $gray; font-weight: 600; text-transform: uppercase; line-height: 70px; padding-top:10px; }
    }

    // li.has-child>a:after{font-family:"FontAwesome";content:" \f107"}

    .dropdown{width:auto;margin:0;margin-top:-1px;position:absolute;z-index:999;display:none;}
    .has-child:hover >.dropdown{display:block;width:175px; }
    .dropdown .dropdown-items{list-style:none;padding:0;margin:0;text-transform:uppercase;}
    .dropdown .dropdown-inner{background: $dark;padding:0px;box-shadow:0 3px 5px 0 rgba($black,0.2); }

    .dropdown li.menu-item{margin-left:0;display:block;padding:0;position:relative;width: 100%; border-top: none;border-bottom: 1px dotted rgba($light-gray, .3);
        &:last-child {border-bottom: none;}
        a{width:100%;display:block;padding:10px;color:$white;cursor:pointer;font-size:14px; line-height: 2em;
            &:hover{color:$gray}
        }
    }
}

/////////Optional Tablet Full Row Nav //////////////
// @include bp(tb) {
//     .logo-block {width:100%;}
//     .logo-img{ @include center-block();}
//     .mega-tab { @include sec-default (); text-align: center;}
//     .megamenu-parent { float:none;
//         li { margin: 0 12px;}
//     }
// }

#offcanvas-toggler {
    width: 40px;
    float:right;
    background-color:$white;
    padding: 10px 0 5px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $dark;
    display:none;

    h4 {color:$white; line-height:2em; padding-top:10px; }
    h4:hover {color:$black; text-decoration:none; }

    span {
        content: '';
        @include center-block ();
        display: block;
        margin-bottom: 4px;
        width: 25px;
        height: 3px;
        border-radius: 4px;
        background-color: $dark;
    }

}
.offcanvas-menu .offcanvas-inner .module ul > li > a:hover{color:$white; background:$dark}
.offcanvas-menu .offcanvas-inner .module .menu .nav-child a{padding:4px 25px}
.offcanvas-menu .menu ul li{position:relative}

.close-offcanvas{position:absolute; top:15px; right:15px; z-index:1; color:$white; border:2px solid #eee; border-radius:100%; width:22px; height:22px; line-height:18px; text-align:center; font-size:12px}
.close-offcanvas:hover{background:$black; color:$white}

.offcanvas-menu{width:280px; height:100%; background:darken($dark, 10%); color:$white; position:fixed; top:0; opacity:0; z-index:9999; overflow-y:scroll;
    .offcanvas-inner{padding:20px;}
    .module{margin-top:20px;
        ul{margin:0 -20px;
            li { margin-bottom:15px; padding-bottom:5px; padding-left: 15px; border-bottom:1px solid rgba($white, .4);
                a { -webkit-transition:300ms; -o-transition:300ms; transition:300ms; padding:7px 0; padding-left:0px; color: $white; font-size: 14px; line-height: 1.5em;}
                a:hover{background:transparent;}
                &:first-child{margin-top:0}            }
        }
    }
}

.offcanvas-menu{-webkit-transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1); transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1)}
.body-innerwrapper:after{right:0}
.offcanvas-menu{right:-280px}
.offcanvas .offcanvas-menu{right:0}
.body-innerwrapper:after{position:absolute; top:0; width:0; height:0; background:rgba($black, 0.8); content:''; opacity:0; -webkit-transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; z-index:999}
.offcanvas{width:100%; height:100%; position:relative}
.offcanvas .body-innerwrapper:after{width:100%; height:100%; opacity:1; -webkit-transition:opacity 0.5s; transition:opacity 0.5s}
.offcanvas .offcanvas-menu{opacity:1}
.menu .nav-child.small{font-size:inherit}
h3.module-title{color: $white;}
.menu .nav-child.small{font-size:inherit}


@include bp(md) {
    #offcanvas-toggler { display:inline-block; }
    nav {display: none;}
}



header {
    .main-menu {
      position: relative;
      text-align:center;
    }
      .navbar-default {
        background-color: $white;
        border: none;
        margin-bottom:0;
        border-radius:0;
        position:relative;
      }
      .logo-header { padding-top:20px}
      .navbar-default .navbar-nav { float: right; padding-top:15px; padding-bottom: 15px;}
      .navbar-default .navbar-nav>li>a {
        color: $dark;
        display:block;
        font-size: 16px;
        padding:3px 10px 7px;
        // padding-bottom:7px;
        letter-spacing:1px;
        position: relative;
        z-index: 1;
        display: inline-block;
        margin-left: auto;
        margin-right:20px;

        @media only screen and (min-width: 1500px) {padding-top:15px;}
      }

      /*Dropdown CSS*/
      .navbar-nav>li>.dropdown-menu {
        padding:12px 0;
        display:none;
      }
      .navbar-nav>li:hover > ul.dropdown-menu{
        display: block;
        -webkit-animation: fadeInUp 400ms;
        -moz-animation: fadeInUp 400ms;
        -ms-animation: fadeInUp 400ms;
        -o-animation: fadeInUp 400ms;
        animation: fadeInUp 400ms;
      }

      .dropdown-menu>li {
        margin-left:0;
      }

      .dropdown-menu>li>a {
        color:$white;
        padding:5px 20px;
      }

      .dropdown-menu>li>a:hover,
      .dropdown-menu>li>a:focus{
        background-color:transparent;
      }

      @include bp(md) {
        .navbar-default:after,
        .navbar-default .navbar-nav > li > a:before { display:none}
      }

      .megamenu-parent {
        .module{ padding:10px}
        .dropdown{margin:0; margin-top:-1px; position:absolute; z-index:999; display:none; width: 100%;}
        .dropdown .dropdown-inner{ width: 100%; background:$white; box-shadow:0 3px 5px 0 rgba(0,0,0,0.2); padding:10px 3px 10px 8px; border-radius: 5px;}
        .dropdown .dropdown-items{ width:100%; list-style:none; padding:0; margin:0; text-transform:none;}
        .dropdown.dropdown-main{top:100%; width:180px;}

        .dropdown.dropdown-main.menu-left{right:0;}
        .dropdown.dropdown-sub{top:0; left:100%;}
        .dropdown.dropdown-sub .dropdown-inner{box-shadow:0 0 5px rgba(0,0,0,0.2);}

        .dropdown li.menu-item{display:block; padding:0; position:relative; font-size:16px; width: 100%; text-align:left;}
        .dropdown li.menu-item >a{width:100%; display:block; padding: 7px 10px; color:$teal; cursor:pointer;}
        .has-child:hover >.dropdown{display:block;}

        .dropdown li.menu-item >a:hover {text-decoration: none; font-weight: bold; color:$black}

      }
      .megamenu-parent.menu-zoom .has-child:hover >.dropdown{-webkit-animation:spMenuZoom 400ms; animation:spMenuZoom 400ms;}
      .megamenu-parent.menu-fade-up .has-child:hover >.dropdown{-webkit-animation:spMenuFadeInUp 400ms; animation:spMenuFadeInUp 400ms;}
}

.top-contact {
  @include sec-default ();
  padding-top:10px;
  text-align: left;
  font-weight:bold;
    .tel-head { float: left; color: $b-gray; padding-left: 30px; font-size: 15px;
      &:hover {color: $teal;}
    }
    .email { float: right; color: $b-gray; padding-right:15px; font-size: 15px;
      &:hover {color: $teal; text-decoration: none;}
    }
}

.mobile-contact {display: none;}

ul.social-links{ padding-left: 0;
  li { display: inline-block; margin-right: 5px;
    .social-icon {
      width: 18px;
      height: 18px;
    }
  }
}

  @include bp(md) {
    .top-contact { display: none;}
    .mobile-contact {
      display: block;
      padding:15px 20px;
      .phone { display: inline-block; float: left;}
      .mail {display: inline-block; float: right;}
      .social {display: inline-block; float: none;}
      .tel-head, .email, a { width: 100%; float: left; color: $b-gray;}
    }
  }
  @include bp(sm) {
    .mobile-contact {
      .phone, .mail { width: 100%; display: block; float: none; @include center-block (); text-align: center; padding-bottom:10px;}
    }
  }
