// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  @import "variables";
  @import "mixins";

  .service-link {@include service-link (); }
  a.left.carousel-control, a.right.carousel-control { background: none; box-shadow: none;}


.home {
  .homesec-video { @include sec-default (); background-color: #f7f7f7; overflow: hidden; position: relative; height: 80vh;
    .video-over, .video-holder,
    .video-holder .video-frame {@include sec-default (); position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
    .video-holder {@include sec-bgimage ();overflow: hidden;}

    .over-holder {
      @include sec-default (); padding: 100px 0; margin-top:10%; width: 100%; height: 100%;
      background-image: url(image_path('hsdh-opac.png'));background-size: 35%;background-position: left center;background-repeat: no-repeat;

      .welcome {
        @include sec-default ();
        padding: 20px 0;

        h1 {margin-bottom: 0; padding-bottom: 0; text-transform: uppercase; color: $white; font-family: $lato; font-size: 110px; line-height: .8em; font-weight: 900; letter-spacing: 5px;
          .sm {font-weight: 800; font-size: 68px; letter-spacing: 9px; color: $white;}
        }
        h3 {margin-top: 5px;font-weight: 300; font-size: 50px; color: $white; font-family: $poppins; }
      }
    }
  }

  .border-slope {
    overflow: hidden; width: 110%; position: absolute; display: block; bottom:0; right:-15px; margin: 0; padding-top:40px; background: $white;
    -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center;
    -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg);
    margin-bottom:-220px; box-shadow: 0px -1px 3px rgba(0,0,0,0.4);

    .slope {margin:0 auto;padding:90px 0px 80px 30px;
      -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg);
    }
  }

  .home-slope {
    @include sec-default ();
    background-color: $white;
    padding: 60px 0px;

    .hsdh{width: 90%; @include center-block();}
    .tm-vid {width: 85%; @include center-block(); height: 315px;}
    .left-txt, .vid-blk {width: 90%; @include center-block(); text-align: center; margin-top:20px;}

    .intro {@include sec-default ();color: $dark;}
    h3 {color: $gray; font-size:27px; letter-spacing: 3px; line-height: 1em; margin-top: 0; font-weight: 800; font-family: $raleway; text-transform: uppercase;}
    p {color: $gray; font-size:18px; font-family: $pro; font-style: italic; }
    h2 {
      font-weight: 900; color: $teal;
      padding:0 0 5px; margin:0; line-height: 1.2em;
      font-family: $raleway; text-transform: uppercase;
      font-size: 50px;
    }

    .gears {padding: 70px 0px 0 15px;}

    .about-link{
      padding:10px 15px;
      border-radius: 5px;
      width: 40%;
      text-align: center;
      color: $white;
      font-size: 18px;
      background-color: $teal;
      @include center-block();
      &:hover { text-decoration: none; font-weight: bold; background-color: $white; color: $teal;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;}
    }
  }

  .hcontent-body {
    @include sec-default ();
    @include sec-bgimage ();
    background-image: url(image_path('workspacebw.jpg'));
    background-attachment: fixed;

    .hcontent-inner {
      @include sec-default ();
      background-color: rgba($black, 0.5);
      padding: 40px;
    }

    .title-head {
      @include sec-default ();
      padding:60px;
      text-align: center;
    }
    h2 {
      font-weight: 800; color: $white;
      padding:0px; margin:0;
      line-height: 1.2em;
      font-family: $raleway; text-transform: uppercase;
      font-size: 45px;
    }
  }

  .home-service {
    @include sec-default ();
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;

    .content {  background: $cream;padding: 20px 30px;}
    .hs-icon {
      @include center-block ();
      height:90px;
      padding-bottom: 15px;
      &.tall { height:100px;}
    }

    .service-link { width:70%; text-align: center; @include center-block (); padding:10px;}

    &:hover {
      .title {
        -webkit-transform: scale(1.03); -ms-transform: scale(1.03); transform: scale(1.03);
        -webkit-transition: all .3s ease; transition: all .3s ease;
        .title-a:hover { text-decoration: none;}
      }
    }

    h2 {font-weight: 600; color: $gray; line-height: 1.2em; font-family: $raleway; text-transform: uppercase; font-size: 25px; text-align: center;}
    p {font-family: $pro; color: $gray; font-size:16px;
      &.visible {padding:0 10px 10px; margin-bottom: 10px;}
    }

    // @include bp(md) {
    //   .overlay { display: none;}
    //   .content { height: 300px;}
    //   .hs-icon {
    //     @include center-block ();
    //     width: 75px;
    //     height:75px;
    //     padding-bottom: 10px;
    //   }
    //   p.visible {padding:0px; margin-bottom: 5px; }
    // }
    // @include bp(sm) {
    //   padding:0;
    //   .content { height:auto; padding: 20px;}
    // }
  }

  .partners{ @include sec-default (); background-color: $white; background-image: url(image_path('pattern10.png')); background-repeat: repeat; background-position: top left;

    .left {
      @include sec-default ();
      padding:40px 20px;
      text-align: center;
      h2 { padding-bottom: 40px; font-family: $lato; font-weight: 800; color: $teal; }
    }
    .right {
      @include sec-default ();
      background-color: $white;
      padding-top:10px;
      padding-left:30px;
    }
    .service-link {
      display: inline-block; width: 40%; margin: 0 10px; float: none;
    }
    .service-link:hover { background-color: $teal; color: $white; border:1px solid $dark;}
    .p-img { width: 30%;  display: inline-block;
      border-right: 1px solid #dfdfdf;
      padding: 10px;
      &.last {border-right: 0;}
    }
    hr.small {display: none;}

    // @include bp(md) {
    //   .service-link { float: left; display: inline-block; width: 40%; margin-left:20px;
    //       &.one {margin-right:15px;}
    //   }
    // }

    // @include bp(sm) {
    //   .service-link { display: block; width: 90%; @include center-block ();}
    //   .p-img { width: 49%; border:0;
    //     &.xsbord{border-right:1px solid #dfdfdf;}
    //   }
    //   hr.large {display: none;}
    //   hr.small {display: block;}
    // }
    // @include bp(xs) {
    //   .service-link { display: block; float: left;}
    // }
  }

  @include bp(dt) {
    .homesec-video {height: 100vh;}

    .home-slope {
      .hsdh{width: 85%; }
      .left-txt, .vid-blk {display: inline-block; float: left; width: 50%;}
      .vid-blk {float: right;}
      .intro { padding-right: 20px;}
    }
  }

  @include bp(tb) {
    .homesec-video { height:40vh;
      .video-holder {
        background-image: url(image_path('mobile-bg2.png'));
        .video-frame{display: none;}
      }

      .over-holder { padding: 10px 0; background-size: 23%;
        .xxp {margin-left: 14%;}
        .welcome {
          padding: 40px 0;
          h1, h1 .sm { font-size: 40px; line-height: 1.1em; letter-spacing: 1px;}
          h3 {font-size: 30px; }
        }
      }
    }
    .border-slope {margin-top: 0;}

    .home-slope { padding: 40px 0;
      .intro {margin-bottom:30px;}
      h2 {font-size: 40px; br{display: none;}}
      p {margin-bottom: 20px;}
    }

    .hcontent-body {background-image: url(image_path('workspacebw-mob.jpg'));background-attachment: scroll;background-color: $b-gray;
      .hcontent-inner {padding:10px 5px;}
      h2 {font-size: 40px;}
      .mob-stack{padding:0;}
      .title-head {padding: 30px }
    }

    .home-service {
      padding: 0px 10px; margin-bottom: 10px;
      .content { padding: 15px;
        .title h2 {font-size: 22px;}
        p.visible {padding: 0; margin-bottom: 20px;}
        hr {margin: 15px 0 }
      }
      .overlay { opacity: 1; width:100%;}

      .hs-icon {
        width: auto; height: 75px;padding-bottom: 10px;
        &.tall {height: 75px;}
      }
    }

    .partners { padding-bottom: 20px;
      .container-fluid{padding:0;}
      .lft {width: 100%; margin-bottom: 30px;}
      .rt {width:100%; padding:0;}
      .service-link{width:22%;}
      .left {padding: 0px;
        h2 { padding-bottom: 10px; font-size: 25px; }
      }
      .right {padding: 0; text-align: center;}
      .p-img { padding: 0px 6px; border-right:none; float: none;width: 15%;}
      hr.small, hr.large {display: none;}
    }
  }

  @include bp(md) {
    .homesec-video {
      .video-holder {background-position: bottom right;}
      .over-holder {
        .xxp {margin-left: 0;}
        .welcome { padding-left: 14%;
          h1, h3 {text-shadow: 0px 1px 1px rgba($black, .8);}
          h3 {font-weight: 500;}
        }
      }
    }

    .border-slope {padding-top:50px;}

    .home-slope {
      padding: 20px 0 40px;
      h2 {font-size: 27px; }
      p {font-size: 16px;}
      .tm-vid {width:85%; height:280px;}
    }

    .hcontent-body {
      h2 {font-size: 30px;}
      h3{font-size: 22px;}
      .mob-stack {width: 95%; @include center-block();}
    }
    .home-service { margin-bottom:30px;
      .content {padding: 15px 25px;
        .title h2 {font-size: 19px;}
      }
      .hs-icon {height: 35px; padding-bottom:5px;
        &.tall {height: 40px;}
      }
      .service-link {width:35%;}
    }

    .partners {
      .left {
        .service-link {width:35%;}
      }
    }
  }

  @include bp(pl) {
    .homesec-video {height: 55vh;
      .over-holder {background-size: 25%; margin-top: 5px;
        .welcome {padding-left: 10%;}
      }
    }
    .border-slope {display: none;}

    .home-slope {
      padding: 10px 0 20px;
      h2 {font-size: 24px; }
      h3{font-size: 20px;}
      p {font-size: 15px;}
      .about-link {padding:7px 0;}
    }

    .hcontent-body {
      h2 {font-size: 25px;}
      .title-head {padding: 15px 0;}
      .mob-stack {width: 100%;}
    }
  }

  @include bp(mb) {
    .homesec-video {height: 55vh;
      .over-holder {background-size: 20%;
        .welcome {padding-left: 10%;}
      }
    }
  }

  @include bp(ph) {
    .homesec-video { height:50vh;
      .over-holder { padding-top:30px; background-position: left bottom;
        .welcome {padding: 20px 0 0px 40px;
          h1, h1 span.sm {font-size: 30px; margin-top: 0;}
          h3 {font-size: 24px;}
        }
      }
    }

    .home-slope {
      .tm-vid {height: 235px; width:95%;}
    }
  }

  @include bp(sm) {
    .homesec-video { height:30vh;
      .video-over {padding-top:30px;
        .xsp{padding-right:0; padding-left: 10px;}
      }
      .over-holder { padding-top:30px; background-position: left center;
        .welcome {padding: 0px 0 0 20px;
          h1, h1 span.sm {font-size: 25px; margin-top: 0;}
          h3 {font-size: 19px;}
        }
      }
    }

    .home-slope {
      .hsdh{width:100%;}
      .left-txt {margin-top: 0;}
      h2 {font-size: 20px;}
      h3 {font-size: 17px;}
      .about-link { font-size: 16px; width:45%;}
      .tm-vid {height:210px;}
    }

    .hcontent-body {
      .xsp{padding: 0;}
      h2 {font-size: 20px;}
      .home-service {
        .content {padding: 15px;
          .title h2 {font-size: 18px;}
          hr {margin: 10px 0;}
        }
        .service-link {width:50%;}
      }
    }

    .partners {
      .left .service-link {width: 75%; @include center-block(); margin-top: 10px;}
      .p-img {width:32%; margin:0; padding: 5px 8px;}
    }
  }

  @include bp(xs) {
    .homesec-video { height:23vh;
      .video-over {padding-top:20px;}
      .over-holder {
        .welcome {padding: 0px 0 0 20px;
          h1, h1 span.sm {font-size: 22px; }
          h3 {font-size: 17px;}
        }
      }
    }

    .home-slope {
      h2 {font-size: 18px;}
      h3 {font-size: 16px;}
    }

    .hcontent-body { padding:0;
      h2 {font-size: 18px;}
    }
  }

  @include bp(xx) {
    .homesec-video {
      .over-holder { padding-top: 5px;
        .xxp {padding:0;}
        .welcome {padding: 10px 0 0 20px;
          h1, h1 span.sm {font-size: 20px; }
        }
      }
    }

    .home-slope {
      h2 {font-size: 17px;}
      h3 {font-size: 15px;}
      .intro {margin-bottom: 15px;}
      .tm-vid {width:100%; height: 190px;}
    }

    .hcontent-body { padding:0;
      h2 {font-size: 18px;}

    }
  }
}

.about {
  .tm-vid {width: 99%; height: 350px;}
  p { font-family: $pro;}

  .about-page1 {@include sec-default ();@include sec-bgimage();
    background-position: bottom center; background-image: url(image_path('tech-header.jpg'));

    .right {float: right;}
    .left{width:70%;}
    h1 { font-weight: 800; font-family: $lato; font-size:50px; margin-bottom: 5px; color:$white; }
    h3 { font-weight: 600; font-family: $lato; font-size: 30px; margin-top: 0; color:$light-gray; padding-top:0; padding-bottom:10px;}
    p { font-style: italic; color: $white; font-size: 18px;}

    .inner {
      @include sec-default ();background-color: rgba( $black, .55);
      height:500px;
      padding: 50px 30px 20px;
    }

    h3.quote {
      font-style: italic;
      color: $white;
      position: absolute;
      z-index: 9;
      opacity: 0.7;
      font-size: 30px;
      line-height: 1.2em;
      text-align: left;
      margin-top: 32%;
      right: -20px;
      width: 70%;
      -webkit-transform-origin: top center;
      -moz-transform-origin: top center;
      -o-transform-origin: top center;
      -ms-transform-origin: top center;
      transform-origin: top center;
      -webkit-transform: rotate(-15deg);
      -moz-transform: rotate(-15deg);
      -o-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    @include bp(tb) {
      background-position: top left;
      .inner { height: 420px; }
      .left{width:100%; }
      h3.quote { font-size: 25px;width: 90%; }
    }

    @include bp(md) {
      margin-bottom:10px;
      .inner { height: 275px; padding:10px 10px 40px;}
      p {width: 70%; }
      h3 { padding-bottom:5px; font-size: 25px;}
      h3.quote { font-size: 20px; padding-top:10px; left: 0; width: 90%; opacity: 0.7; margin-top: 0; padding-bottom: 15px;
        -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);
      }
      h1 { font-size: 40px}
    }

    @include bp(sm) {
      .inner {padding:0;}
      h1 { font-size: 30px;}
      h3 { font-size: 20px;}
      p { width:100%;}
      h3.quote { width: 100%;}
    }

    @include bp(xs) {
      .inner { height: 300px; }
      h3 { font-size: 17px;}
    }
  }

  .about-page2 {
    @include sec-default ();
    background-color: $white;

    .inner {
      @include sec-default ();
      padding: 80px 0 80px 45px;
    }

    .story {
      @include sec-default ();
      p {color: $dark; font-size:17px;}
    }

    @include bp(tb) {
      .mobpad {padding:0;}
    }

    @include bp(md) {
      padding-left:0px;
      .mobpad{padding: 0 10px;}
      .inner {padding:20px;}
      .story-img { width: 50%;}
      img.mobile-show {@include center-block(); width:50%;}
    }

    @include bp(sm) {
      img.mobile-show {@include center-block(); width:70%;}
    }
  }

  .about-page3 {
    @include sec-default ();
    background-color: $light-gray;
    background-size: 58.35%;
    background-position: right top;
    background-repeat: no-repeat;
    background-image: url(image_path('startup6-bw.jpg'));

    .left {
      @include sec-default ();
      padding:40px 60px 30px;
      background-color: $light-gray;

      h4 { font-weight: 900; font-family: $lato; font-size: 21px; line-height: 1.3em; color:$dark; padding-bottom:20px;}
      p { color: $dark;}
    }

    .right {
      @include sec-default ();
      background-color: rgba( $off-white, .8);
    }

    @include bp(md) {
      background-size: 100%;
      background-position: center center;
      .left {padding:40px;}
      .about-hold { display: none;}
    }

    @include bp(md) {
      background-position: bottom center;
    }
  }

  .about-service {
    @include sec-default ();
    @include sec-bgimage ();

    .content { @include sec-default (); background: rgba($teal, 0.6); height:130px; padding:20px 25px; }
    .title { @include sec-default (); padding-top: 20px; text-align: center;}
    &:hover .content {
      background: rgba($black, 0.8);
      -webkit-transition: all .25s linear;
      transition: all .25s linear;}
    &:hover .overlay {
      opacity: 1;
      -webkit-transition: all .25s linear;
      transition: all .25s linear;
      transform: translateY(15px) ;
      -ms-transform: translateY(15px) ;
      -webkit-transform: translateY(15px) ;
      position: relative;}

    h3 {
      font-weight: 800; color: $white;
      line-height: 1.2em;
      font-family: $raleway; text-transform: uppercase;
    }

      &.website {
        &:hover .content { background: rgba($b-gray, 0.9)}
      }
      &.ecommerce {
        &:hover .content { background: rgba($silver, 0.9)}
      }

      &.dmarket {
        &:hover .content { background: rgba($b-gray, 0.9)}
      }

      @include bp(md) {
        width: 33.2%;
        &.dmarket, &.website {.content { background: rgba($silver, 0.6)}}
        .title { padding-top:0;}
      }

      @include bp(sm) {
        width: 100%;
      }

    }
}

.clients {
  .client-sec1 { @include sec-default (); background-image: url(image_path('busy.jpg')); @include sec-bgimage (); background-position: center center; background-attachment: fixed;
    .inner {
      background-color: rgba($b-gray, 0.6);
      @include sec-default ();
      text-align: center;
      padding:80px 0px;
    }

    .hdr {width:45%; @include center-block();}
  }

  h1 {color: $white; font-family: $lato; font-size: 40px; line-height: 1.2em; font-weight: 900; padding-bottom:30px;}
  h3 { color: $dark; font-family: $lato; font-size: 30px; line-height: 1.1em; padding-bottom:20px; font-weight: 600;}



  .intro-box { @include sec-default (); background-color: $white; padding: 40px 0 60px; text-align: center;
    .content {@include center-block(); width:70%;}

    h4 { color: $dark; line-height: 1.4em; font-size:17px; font-family: $lato; }
    h4.plus { font-size:26px; font-weight: 800; text-transform: uppercase; margin-top:20%;
      span { color: $teal; letter-spacing: 1px;}
    }
  }

  .client-logos {@include sec-default ();padding-top:40px;}
  .logo-sec { @include sec-default (); border-left: 1px solid #dfdfdf;}
  .clientlogo{padding:20px;width: 32.5%;display: inline-block;
    filter: grayscale(100%);-webkit-filter: grayscale(100%);
    -webkit-transition: all .4s ease;transition: all .4s ease;

    &:hover { filter: grayscale(0); -webkit-filter: grayscale(0);}
  }

  .portfolio2 {
    @include sec-default ();
    background-color: $light-gray;

    .work-section {@include sec-default(); background-color: $light-gray; padding:30px 30px 15px;}

    .header {@include sec-default (); background-color: $dark; padding: 10px; text-align: center;
      h3 { color: $white; margin-bottom:0;  line-height: 1em;}
      p { color: $white; margin-top:0px; line-height: 1em; font-size:15px; font-style: italic;}
    }

    .box {border:3px solid $white;}

    .portfolio-block .over-frame {
      -webkit-transition: all 0s ease;
      transition: all 0s ease;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      display: block;
    }
    .portfolio-block .over {background: rgba($teal, .8);}
    .portfolio-block .box-holder {padding-top: 60%;}
    .portfolio-block:hover img{
      overflow: hidden;
      -webkit-transform:scale(1.05);transform:scale(1.05);
      -webkit-transition: all .6s ease;
      transition: all .6s ease;
    }
    .portfolio-block .title {
        margin-top:-3%;
        font: 800 25px/1.2em $lato;
        padding-top:10px;
    }

    @include bp(sm) {
      padding-left:10px;
      padding-right:10px;

      .no-padding-r.pleft-3 { padding-left:5px; padding-right:5px; }
    }
  }

  @include bp(tb) {
    .client-sec1 {background-attachment: scroll;
      .inner {padding:15px 0px;}
      .hdr {width:100%;}
    }
    h1 { font-size:30px;}

    .intro-box { padding: 20px 0 35px;
      .content {width:85%;}
    }
    .client-logos {padding-top: 15px;}
  }

  @include bp(md) {
    .client-sec1 {
      .inner {padding: 0px;}
    }
    h1 {font-size: 24px;}
    .intro-box {
      h4.plus{margin-top: 10px;}
      h3 {padding-bottom: 10px;}
    }
    .client-logos { padding-top:0px; }
    .logo-sec { border-left:0;}
    .clientlogo{ width: 45%; filter: grayscale(0); -webkit-filter: grayscale(0);}
  }

  @include bp(sm) {
    h1{font-size: 23px;}
    .intro-box .content {width:98%;
      h3 {font-size: 20px;}
      h4.plus {font-size: 20px;}
    }
    .clientlogo{ width: 49%; padding: 10px;}
  }
}

.team {
  .team-h1 {
      @include sec-default(); height: 200px; padding: 20px 0; background-color: $dark;
      background-image: url(image_path('startup6-bw.jpg')); background-position: center right; background-repeat: no-repeat; background-size: 70%;
      h1 {text-transform: uppercase; font-family: $raleway; font-size: 45px; color: $white; font-weight: 800; padding-top: 30px;}
  }
  // .team-h1 {
  //   @include sec-default(); height: 300px; padding: 20px 0; background-color: $dark;
  //   background-image: url(image_path('startup6-bw.jpg')); background-position: center right; background-repeat: no-repeat; background-size: 65%;
  //   h1 {text-transform: uppercase; font-family: $raleway; font-size: 45px; color: $white; font-weight: 800; }
  //   h5 {color: $light-gray; font-family: $raleway; line-height: 1.3em; font-size: 15px;}
  //   p, a {color: $teal; font-family: $raleway; line-height: 1.3em; padding-top:10px; font-weight: 600; font-size: 16px;}
  // }
  @include bp(md) {
    .team-h1 {
      height: 150px;
      background-color: $white;
      background-size: 100%;
      position: relative;
      text-align: center;
      &::before {
        content: '';
        width:100%;
        height: 100%;
        top:0;
        left: 0;
        position: absolute;
        z-index: 0;
        background: rgba($black, .8);
      }
      h1 {position: relative; z-index: 1;padding-top:15px;}
    }
  }

  @include bp(sm) {
    .team-h1 {height: 100px; h1 {padding-top:0; font-size: 30px;}}
  }
}

.design {
  .webdesign {
    @include sec-default (); background-color:$white; background-image: url(image_path('monitor.png')); background-size: 55%; background-position: left top; background-repeat: no-repeat;
    padding-top:70px; padding-bottom:300px;

    h1 { font-size:75px; line-height: 1em; font-family: $roboto; font-weight: 900; color:$teal; padding:20px 0 30px 35px; text-transform: uppercase; }
    h1:before { content: '<'; font-size: 135px; font-weight: normal; color: $teal; position: absolute; left:-3%;}
    h1:after { content: '>'; font-size: 135px; font-weight: normal; color: $teal; position: absolute; }
    h1:hover span:nth-child(1) {
      color: $dark;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s;}

    h3 { color: $dark; }
    .focus { font-size:40px; line-height: 1em; font-family: $raleway; font-weight: 900; color:$light-gray; text-transform: uppercase; display: inline-block; margin-right:10%; margin-bottom:15px;}

    @include bp(tb) {
      padding-top:30px; padding-bottom:80px; background-size: 50%; text-align: center;
      .nmtb {margin-left: 45%;}
      h1 { font-size:50px;  }
      h1:before, h1:after{ position:relative; font-size: 65px;}
      h1:before { left:0;}
      h1:after { right:-5px;}
      .focus { font-size:30px; margin-right:5%;}
    }

    @include bp(md) {
      background-size: 42%; padding-bottom:60px; padding-right:10px;
      .nmtb {margin-left: 0;}
      h1 {float: right; padding:0; }
      h1:after { right:1px;}
      .focus { font-size:18px; float:right; margin-right:5px; margin-left:5px; margin-bottom:5px;}
    }

    @include bp(ph) {background-position: bottom left;background-size: 23%;
      padding-top:5px; padding-bottom:50px; text-align: center;
      h1 { font-size:30px;float: none; }
      h1:before, h1:after{ position:relative; font-size: 35px;}
      .focus { font-size:15px; float:none; }
    }
  }

  p { color: $dark; font-family: $pro; font-size:16px; }

  .webdesign-body {@include sec-default();background-color:darken($off-white, 10%);

    svg.half-circle { width: 100%; margin:0; margin-top:-12%; }
    #bigHalfCircle path {
      fill: darken($off-white, 10%);
      stroke: darken($off-white, 11%);

      @include bp(tb) {display: none; }
    }

    .wb-1 {
      @include sec-default(); padding:55px 30px 80px 40px;
    }
    h3 { color: $teal; font-weight: 800; letter-spacing: 1px; font-size: 33px; line-height: 1.2em; padding-bottom:10px; }

    .mockup { width: 80%; @include center-block ();}

    @include bp(tb) {
      .mockup { width: 80%; padding-top:25px;}
      .wb-1 { padding:20px 10px 0px 0px; }
      h3 { font-size: 27px;text-align: center; }
    }

    @include bp(md) {
      .wb-1 { padding:0px 10px 40px 10px; }
    }

    @include bp(sm) {
      .wb-1 { padding:20px 0; }
      h3 { font-size: 22px; text-shadow:none;}
    }
  }

    svg.big-triangle { width: 100%; margin:0;}
    #bigTriangleColor path {
      fill:darken($off-white, 10%);
      stroke: darken($off-white, 12%);
      stroke-width: 1;
    }

    .post-wb {@include sec-default ();background-color: $white;}

    .inner { @include sec-default (); padding: 80px 0 120px; height:560px;

    p.up { font-weight: bold; text-transform: uppercase; margin-bottom: 3px;}
    h4 { color: $teal; font-weight: 800; font-size: 18px; line-height: 1.1em; margin-bottom:5px; font-family:$lato; text-transform: uppercase;}

    .last p {margin-bottom:0;}
    }

    a.left.carousel-control, a.right.carousel-control { color: rgba($white, 1);}
    #carousel-example-generic{background-color: transparent;}
    .carousel {
      @include sec-default ();
      @include sec-bgimage ();
      background-color: transparent;
      background-image: url(image_path('web6.png'));
      padding:25px 20px 80px;
    }
    .service-link {
      @include service-link ();
      margin-top:25px;
    }
    .bot-box{ @include sec-default (); padding: 15px 40px 15px 30px; }

    @include bp(tb) {
      .inner {  padding: 50px 0; height:auto;}
      .bot-box{ padding: 0px 20px 15px 10px; }
      .service-link {text-align:center}
    }

    @include bp(md) {
      .post-wb { .inner {  padding: 50px 0; height:auto;} }
      #carousel-example-generic {width:75%; @include center-block (); }
      .service-link {float:left; margin-left:20px; margin-right:30px; }
    }

    @include bp(sm) {
      .service-link {float:left; margin-left:10px; margin-right:20px; }
      .xs-pad0 { padding:0;}
      .bot-box{ padding: 10px; }
    }


    nav a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        outline: none;
      }
    }

    .cl-effect-11 a::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      max-width: 0;
      color: $dark;
      content: attr(data-hover);
      -webkit-transition: max-width 0.5s;
      -moz-transition: max-width 0.5s;
      transition: max-width 0.5s;
    }

    .cl-effect-11 a:hover::before,
    .cl-effect-11 a:focus::before {
      max-width: 100%;
    }
}

.sem {
  .sem-page {
    p { font-size: 17px; font-family: $roboto}

    .sem-sec1 { @include sec-default(); @include slopey-layout-r (); background-color: $white; background-image: url(image_path('dm-header.jpg')); background-repeat:no-repeat; background-attachment: fixed; background-size: 100%; background-position: center left;
      overflow: hidden;
      height:480px;

      .bg-over { @include sec-default();background-color: rgba($b-gray, 0.3);
        padding:40px 0 160px 0px;
        height:480px;
      }

      .title-box {
        // position: absolute; z-index: 1;
        width:40%;
      }
      h1 { font-size: 50px; font-family: $poppins; font-weight: 800; color: $white; text-transform: uppercase; }
      h2 { font-size: 28px; font-family: $poppins; text-transform: uppercase; color: $white; line-height: 1.3em;}
      p{color: $white; font-weight: bold;}


      .border-slope {
        width: 110%;
        position: absolute;
        right:-15px;
        margin: 0;
        top:77%;
        padding-top:40px;
        background-color: lighten($light-gray, 5%);
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        transform: rotate(-4deg);
        box-shadow: 0px -1px 1px rgba(0,0,0,0.4);
        overflow: hidden;

        .slope {
          overflow: hidden;
          margin:0 auto;
          -webkit-transform: rotate(4deg);
          -moz-transform: rotate(4deg);
          -o-transform: rotate(4deg);
          -ms-transform: rotate(4deg);
          transform: rotate(4deg);
          padding:40px 0px 50px 30px;
        }
      }
    }

    @include bp(tb) {
      .sem-sec1 {background-attachment: scroll;height:300px;
        h1, h2, h3 {text-shadow: 0px 1px 1px $black;}
      }
      .title-box { width: 50%;}
    }

    @include bp(md) {
      .sem-sec1 {
        background-position: top left;
        height:250px;
        h1 { font-size: 40px; padding-top:0;}
        h2 { font-size: 20px;}
        p {font-size:15px;}
        .bg-over {padding:20px 0 40px;height:250px;}
      }
    }

    @include bp(pl) {
      .sem-sec1 {height:auto;
        h1 { font-size: 30px; }
        h2{margin-top: 5px;}
        .bg-over {height:auto; padding:20px 0;}
        .title-box { width: 80%;}
      }
    }

    @include bp(mb) {
      .sem-sec1 {
        .title-box { width: 100%;}
      }
    }

    @include bp(xx) {
      .sem-sec1 {
        .bg-over {padding: 5px 0 0;}
        h1 {font-size: 22px;}
        h2 {font-size: 18px;}
      }
    }

    .sem-wrap {
      .light-bg { @include sec-default (); background-color: lighten($light-gray, 5%); padding:30px 0px; text-align: center;
        p { color: $gray; font-size: 18px; font-style: italic; margin-bottom:30px;}
        h3 { color: $dark; font-weight: 800; padding-bottom: 5px; font-size: 21px; }
      }

      .content {width:70%; @include center-block();}

      .campaigns {
        width: 100%;padding: 35px 0 0;
        .lcontent, .rcontent {display: inline-block;width: 50%; float: left;}

        .bp-img { width: 40%; display: inline-block;}
        .bp-logo {@include center-block();}
        .google-badge { width: 50%; display: inline-block; float: right;}

        .sem-serv {@include sec-default(); position: relative; background-color: $teal; padding: 20px;
          h4 {margin-bottom:3px;}
          p {color: $white; margin-bottom:25px;}

          i.sem-con {height: 40px;content: url(image_path('lb.png')); display: inline-block; float: left; padding-top:3px; padding-right:7px;}
        }
      }

      .intro{ @include sec-default (); padding:10px 25px 35px 25px;
        .title{ font-size:35px; margin-top:15px; font-weight:800; position:relative; color: $b-gray;font-family: $lato;}
        .title:after{content:''; width:3px; height:85px; background:#dad9e0; position:absolute; left:17px; top:23px; z-index:-1;}
        p { padding-left:30px; color: $dark; font-family: $lato;}
      }
      h4 { color: $dark; padding-bottom: 2px;font-family: $lato; }
      p{font-family: $lato;}

      @include bp(tb) {
        .light-bg {padding: 20px 0;}
        .content {width: 90%;}

        .campaigns {
          .container-fluid.no-padding-r {padding:0;}
          .lcontent, .rcontent { @include sec-default();}
          .lcontent {margin-bottom: 30px; padding: 0 20px;}
          .bp-img {margin-left: 15%; width:27%;}
        }
      }

      @include bp(md) {
        .light-bg { padding: 30px 15px 0px;
          p {padding-left:0px;}
        }

        .campaigns {
          .bp-img { width:35%; }
        }
        .intro {padding-bottom: 10px;}
        h3 {padding-top:0; margin-top:0;}
      }

      @include bp(pl) {
        .light-bg { padding: 20px 0px 0px;
          h3 {font-size: 19px;}
          p{margin-bottom: 0; font-size: 15px;}
        }
        .content {border-bottom: 1px solid #dfdfdf;padding-bottom:20px;}
        .campaigns {padding-top:0;}
      }

      @include bp(mb) {
        .campaigns {
          .intro {padding:0;
            .title {font-size: 25px; text-align: center; color: $teal;
              &:after {display: none;}
            }
          }
          p {font-size: 15px; }

        }
      }

      @include bp(sm) {
        .campaigns {
          p{padding-left: 0;}
          .google-badge {@include center-block(); }
          .bp-img {width: 75%;@include center-block(); margin-top: 15px;}

          .sem-serv {text-align: center;}
        }
      }
    }
  }
}

.contact {
  background-color: $light-gray;
  .int-header { padding: 0; background-attachment: fixed; background-repeat: repeat;
    background-image: url(image_path('pattern3.png')); margin-bottom: 0px;
    .hero.bg-4{background-image: url(image_path('lightning-strike.jpg')); background-position: top left; background-repeat: no-repeat; background-size: 100%; height:450px;padding-top: 100px;}
    .page-name {font-size: 50px; font-weight:900; color:$white; font-family: $lato; margin-top:3px; text-transform: uppercase;letter-spacing: 2px;}
    h2 {font-size:20px; font-weight:700; color:$white; margin-bottom:0px; font-family: $lato; text-transform: uppercase; letter-spacing: 1.5px; padding-left: 10px;}
  }

    @include bp(md) {
    .int-header {background-attachment: scroll;
      .hero.bg-4 { height:220px; padding-top:30px;}
    }

    .contact-serve {
      margin-bottom:15px;
      padding-top:10px;
    }
  }
    @include bp(sm) {
     .int-header {
      .hero.bg-4 { height:160px;}
      h2 {font-size: 17px}
      .page-name {font-weight:700; font-size: 30px;}
    }
  }

  .main-contact { @include sec-default (); padding:35px 0 50px; font-family: $lato; background-repeat: repeat;background-image: url(image_path('pattern10.png'));
    .teal {background-color: $teal; margin-top:20px; padding-bottom: 15px; padding-left: 30px; height:100%;}
    h3 {font-weight: 800;}
    h3.location {font-size:20px; text-transform: uppercase; margin-bottom: 10px; color: $dark; font-weight: 700; }
    address{ @include sec-default (); margin-bottom:10px;
      .title{ font-size:14.5px; font-weight:600; color:$b-gray; margin-bottom:4px;}
      span { @include sec-default (); padding-left:46px; font-size:16px; font-weight:600; position:relative; color: $white;
        &:before{content:''; width:26px; height:3px; background:$light-gray; position:absolute; left:0; top:10px;}
        i {font-size: 17px; color: $white; margin-right: 10px; margin-left: 5px;
          &:hover {color: $silver; text-decoration: none;}
        }
        a:hover {text-decoration: none;}
      }
    }
    h5 {font-family: $lato; font-size: 15px; line-height: 1.4em; }

    @include bp(md) {
      .teal { padding-left: 0px;}
      .loc1, .loc2 { width: 49.5%; display: inline-block;}
    }
    @include bp(sm) {
      .loc1, .loc2 { @include sec-default (); }
      .loc2 {padding-top:10px;}

      address span { padding-left:25px;
        &:before{ width:15px; }
      }
    }


    .contact-serve {
      @include sec-default ();
      padding-top:30px;

      .contact-icon { height: 60px; @include center-block ();}
        h3 { font-size: 16px; text-align: center; font-weight: bold;}
        &:hover{text-decoration: none; h3 {color: $teal; -webkit-transition: all .6s ease; transition: all .6s ease; }}
        &:nth-child(3) {margin-bottom: 0;}
    }
    @include bp(md) {padding: 20px 0;
      .servcon-holder {width: 80%; @include center-block();}
      .serv-con {display: inline-block; width: 32%;
        h3 {font-size: 14px;}
        .contact-icon { height: 45px;}
      }
    }
    @include bp(sm) {.servcon-holder {display: none;}}
  }

  .contact-join {
    @include sec-default ();
    background-color:#e1e1e1;
    background-size: 52%;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url(image_path('desk.jpg'));

    .text {
      padding:25px 30px 20px 0px;
    }

    @include bp(md) {background-image: none;text-align: center;}

    h3, h4, p {color: $dark; font-family: $lato;}

    h3 { font-weight: 800; color: $teal; font-size: 26px;}
    p { margin-top: 15px; font-style: italic; font-size: 15px;}

    .careers {
        @include sec-default ();
        background-repeat: no-repeat;
        background-image: url(image_path('ic2.png'));
        background-size: 45%;
        background-position: center center;
        text-align: center;
        height:135px;

        @include bp(md) {background-size: 25%;}

        .icon {width: 50%;}
        h2 { font-weight: 800; color: $dark; padding-top:20px;}

        &:hover { text-decoration: none;
          background-size: 20%;
          -webkit-transition: all .6s ease;
          transition: all .6s ease;

          h2 { color: $teal; text-shadow: 0px 1px 1px $dark; -webkit-transition: all .6s ease; transition: all .6s ease;}
        }
    }
  }
}





.ecommerce {
  h3,h4,h5 {font-family:$pro}

    .e-header { @include sec-default (); background-color:#f9bf42; background-image: url(image_path('shop.jpg')); background-size: 33%; background-repeat: no-repeat; background-position: center right;
      padding:70px;
      .inner {width:60%; float: left; }
      h1 { color: $white; font-family: $lato; font-weight: 900; margin-bottom:30px; text-transform: uppercase;}
      h3 {color: $white; font-size: 22px; }
      h2, p {color: $white; font-family: $poppins; }
      h2{font-size: 20px; line-height: 1.3em; font-weight: normal;}
    }

    .inside-ecom2 { @include sec-default (); padding:60px 0 80px;
      p { color:$dark; font-size:16px; font-family: $poppins;}
      .title-line {width:10%; height: 1px; background-color: rgba($dark, .1); margin-bottom: 15px;}
      hr {border-top: 1px solid rgba($light-gray, .4); width:80%;@include center-block();}

      .txt-hlf{@include center-block(); width:80%;}
      h3 { color: $dark; font-weight: bold; }
      h4{margin-top:0; font-size: 19px; }
    }

    .why {display: inline-block; float: left;
      &.one {width:32%; padding:10px 15px 20px; border:1px solid #dfdfdf; background-color: $teal; text-align: center;
        p{color: rgba($white, .9); font-weight: 600; font-size: 17px; text-shadow: 0px 1px 1px darken($teal, 10%); line-height: 1.2em; margin-bottom: 15px;}
      }
      &.two{width: 60%; margin-left: 6%;margin-top: 10px;}
    }

    .efol-img {
      border:1px solid #dfdfdf;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
      position: relative;
      display: block;


      &.odd {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
      }
    }

    .partner-box{text-align: center; margin-top: 30px; border-top:1px solid rgba($dark, .08);border-bottom:1px solid rgba($dark, .08);}
    .partner-img{display: inline-block; width: 23%; margin:5px 20px; padding: 8px;
      &.pi1 {padding:0; width:27%;}
    }

    .ecommerce-new-3 {@include sec-default (); overflow: hidden; background-color: #ebf3f6;
      .main-sq {@include sec-default(); padding: 60px 50px;
        .content, .img-bx {display:inline-block; float: left; width: 50%; }
        .content {padding:0 20px;}
        .img-bx { float: right; padding-right:1%; }
        .efol-img {width: 33%; display: inline-block;float: left;}
      }
      .ec-box { display: inline-block; width: 47%; text-align: center; float: left; position: relative; z-index: 1; margin: 10px 0;padding: 0 15px;
        span {font-size: 80px; font-weight: 800; color: rgba($teal, .3); position: absolute; z-index: -1; left: 0px; top:-40px; }
      }
      h3 { font-weight: bold; margin:0 0 35px 25px;}
      p{font-family: $poppins; }
    }

    @include bp(tb) {
      .inside-ecom2 { padding:60px 20px;
        .txt-hlf{width:95%;}
      }

      .why {
        &.one {width:35%;
          p{ font-size: 16px;}
        }
        &.two{width: 60%; margin-left: 0; float: right;}
      }

      .ecommerce-new-3 {
        .main-sq {padding:25px 50px;
          .content, .img-bx { @include sec-default(); text-align: center; padding:20px 0;}
          .efol-img {width: 25%; float: none;}
        }
        .ec-box {width:35%; float: none; margin:10px 15px; }
        h3{margin-left: 0;}
      }
    }

    @include bp(md) {
      .e-header {
        background-size: 30%; padding:10px 30px 20px;
        .inner {width:70%; }
        h1 { margin-bottom:0px; font-size: 28px;}
        h2{font-size: 18px; margin-top:10px;}
      }

      .inside-ecom2 { padding:30px 10px;}
      .why {
        &.one {width:37%;
          h4, p{ font-size: 15px;}
        }
        &.two{padding-right:10px;
          p{font-size: 15px;}
        }
      }
      .partner-box{margin-top: 15px; }
      .partner-img{ width: 26%; margin:5px 10px; padding: 5px;
        &.pi1 {width:29%;}
      }

      .ecommerce-new-3 {
        .main-sq {
          .efol-img {width: 30%;}
        }
        .ec-box {width:45%; float:left; margin:10px 0 0 5%; }
      }
    }

    @include bp(pl) {
      .e-header {
        h1 {font-size: 25px;}
        h2{font-size: 16px;}
      }

      .why {
        &.one, &.two {width:95%; @include center-block();}
        &.one {padding: 10px;
          h3 {margin:10px 0 5px; font-size: 20px;}
          hr {margin: 10px auto;}
          p {display: inline-block; padding: 8px 15px 5px; margin-bottom: 0;}
        }
        &.two{padding-right:0px; padding-top:10px;
          .title-line{@include center-block();}
          h3 {text-align:center;font-size: 20px;}
        }
      }
      .partner-box{border: 0;}
      .partner-img {width:20%;}
    }

    @include bp(mb) {
      .e-header {
        h1 {font-size: 22px;}
        h2{font-size: 15px;}
      }

      .inside-ecom2 {padding: 15px 0;}
      .why {
        &.one {padding: 5px;
          h3 {margin:8px 0 5px; font-size: 18px;}
        }
        &.two{ padding-top:0px;
          h3 {font-size: 18px;}

        }
      }

      .ecommerce-new-3 {
        .main-sq{padding: 15px 20px;
          .content {padding:0;}
        }
        h3{margin-bottom:15px;}
        .ec-box{ margin-left:0;
          &.one, &.three {margin-left: 5%;}
          p {font-size: 15px;}
          span {font-size: 65px; top: -30px;}
        }
      }
    }

    @include bp(sm) {
      .e-header { background-image: url(image_path('shop-mob')); padding: 10px 0 15px 15px;
      }

      .inside-ecom2 {padding: 15px 0;
        .txt-hlf {@include sec-default();}
      }
      .why.two{ padding:0px 10px;}

      .ecommerce-new-3 {
        .main-sq{padding: 15px 10px;}
        .ec-box{ @include center-block(); width:80%; padding:5px 10px;
          span {font-size: 50px; top: -15px;}
        }
      }
    }

    @include bp(xs) {
      .e-header { padding: 0px 0 15px 10px; background-size: 23%;
        .inner{width:80%;}
      }

      .why{
        &.one{
          p{@include sec-default(); margin-left:0; padding:5px ;}
        }
        &.two{ margin-top:0;
          h3{margin-top: 10px;}
          .title-line{margin-bottom: 10px;}
        }
      }

      .partner-img{width:30%; margin: auto; padding:0 10px;}

      .ecommerce-new-3 {
        .ec-box{ width:90%;}
        .main-sq .efol-img{width:42%;
          &.four, &.three{display: none;}
        }
      }
    }
}





