// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  @import "variables";
  @import "mixins";

  .service-link {@include service-link (); }
  a.left.carousel-control, a.right.carousel-control { background: none; box-shadow: none;}


.home {
  .homesec-video {
    @include sec-default ();
    overflow: hidden;
    position: relative;
    height: 100vh;
    .video-over, .video-holder,
    .video-holder .video-frame {
      @include sec-default ();
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .video-holder {
      overflow: hidden;
    }

    .over-holder {
      @include sec-default ();
      padding: 100px 0;
      margin-top:10%;
      width: 100%;
      height: 100%;
      background-image: url(image_path('hsdh-opac.png'));
      background-size: 35%;
      background-position: left center;
      background-repeat: no-repeat;

      .welcome {
        @include sec-default ();
        padding: 20px 0;

        h1 {
          margin-bottom: 0;
          padding-bottom: 0;
          text-transform: uppercase;
          color: $white;
          font-family: $lato;
          font-size: 110px;
          line-height: .8em;
          font-weight: 900;
          letter-spacing: 5px;
          .sm {
            font-weight: 800;
            font-size: 68px;
            letter-spacing: 9px;
            color: $white;
          }
        }
        h3 {margin-top: 5px;font-weight: 300; font-size: 50px; color: $white; font-family: $poppins; }
      }
    }

    @include bp(md) {
      .video-holder {
        @include sec-bgimage ();
        background-image: url(image_path('mobile-bg2.png'));
        .video-frame{display: none;}
      }

      .over-holder { padding: 10px 0;
        .welcome {
          padding: 40px 0;
          h1, h1 .sm { font-size: 40px; line-height: 1.1em; letter-spacing: 1px;}
          h3 {font-size: 30px; }
        }
      }
    }

    @include bp(sm) {
    // @media only screen and (max-width:640px) {
      height:45vh;
      .video-holder { background-image: url(image_path('mobile-bg2xs.png'));}
      .over-holder { margin-top:25px;
        .welcome {
          padding: 40px 0;
          h1, h1 .sm { font-size: 25px; line-height: 1.1em; letter-spacing: normal; font-weight: 800;}
          h3 {font-size: 20px; }
        }
      }
    }
    @media only screen and (max-width: 570px) {
      // height:75vh;
    }
    @include bp(xs) {
    // @media only screen and (max-width: 320px) {
       height:40vh;
    }
  }

  .border-slope {
    overflow: hidden;
    width: 110%;
    position: absolute;
    display: block;
    bottom:0;
    right:-15px;
    margin: 0;
    padding-top:40px;
    background: $white;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-bottom:-220px;
    box-shadow: 0px -1px 3px rgba(0,0,0,0.4);

    .slope {
      margin:0 auto;
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      padding:90px 0px 80px 30px;
    }

    @media only screen and (max-width: 570px) { display: none; }
  }

  .home-slope {
    @include sec-default ();
    background-color: $white;
    padding: 30px 0px 50px 0px;

    .intro {
      @include sec-default ();
      padding: 60px 0 80px 25px;
      color: $dark;
    }
    h3 {color: $gray; font-size:27px; letter-spacing: 3px; line-height: 1em; margin-top: 0; font-weight: 800; font-family: $raleway; text-transform: uppercase;}
    p {color: $gray; font-size:18px; font-family: $pro; font-style: italic; }
    h2 {
      font-weight: 900; color: $teal;
      padding:0 0 5px; margin:0; line-height: 1.2em;
      font-family: $raleway; text-transform: uppercase;
      font-size: 50px;
    }

    .gears {padding: 70px 0px 0 15px;}

    .about-link{
      padding:15px;
      border:1px outset darken($teal,12%);
      width: 45%;
      text-align: center;
      color: $white;
      font-size: 18px;
      background-color: $teal;
      &:hover { text-decoration: none; font-weight: bold; background-color: $white; color: $teal;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;}
    }

    @include bp(md) {
      padding-top:0;
      padding-bottom:70px;
      .intro {padding-bottom:25px;}
    }

    @include bp(sm) {
    // @media only screen and (max-width:640px) {
      background-size: 40%;
      .intro {padding-left:15px;}
      h3 {font-size:22px; }
      p {color: $gray; font-size:18px; font-family: $pro; font-style: italic; }
      h2 {font-size: 30px;}
    }

    @media only screen and (max-width: 570px) {
      margin-top: 0;
      .intro { padding-top: 25px;}
    }
    @include bp(xs) {
    // @media only screen and (max-width: 320px) {
      padding-bottom: 15px;
      h2 { font-size: 20px;}
       .gears {padding: 25px 0px 0 5px;}

    }
  }
  .hcontent-body {
    @include sec-default ();
    @include sec-bgimage ();
    background-image: url(image_path('workspacebw.jpg'));
    background-attachment: fixed;

    .hcontent-inner {
      @include sec-default ();
      background-color: rgba($black, 0.5);
      padding: 40px;
    }

    .title-head {
      @include sec-default ();
      padding:60px;
      text-align: center;
    }
    h2 {
      font-weight: 800; color: $white;
      padding:0px; margin:0;
      line-height: 1.2em;
      font-family: $raleway; text-transform: uppercase;
      font-size: 45px;
    }
    @include bp(md) {
      background-image: url(image_path('workspacebw-mob.jpg'));
      background-attachment: scroll;
      background-color: $b-gray;
      .hcontent-inner {padding:10px;}
      .title-head { padding: 25px; margin-bottom:15px;}
    }
    @include bp(sm) {
      .title-head { padding: 25px 0; margin-bottom:15px;}
       h2 { font-size: 25px; }
    }
    @include bp(xs) {
      .col-md-4.col-xs-12 { padding: 0;}
      .col-md-12.col-xs-12 { padding: 0;}
    }
  }

  .home-service {
    @include sec-default ();
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;

    .content {  background: $cream; height:410px; padding: 20px 30px;}

    .hs-icon {
      @include center-block ();
      height:90px;
      padding-bottom: 15px;

      &.tall { height:100px;}
    }

    .overlay { @include sec-default (); opacity: 0; padding: 0; background-color: $cream;
      .service-link { text-align: center; @include center-block (); padding:10px;}
    }

    &:hover {
      .title {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);
        -webkit-transition: all .5s ease;
        transition: all .5s ease;

        .title-a:hover { text-decoration: none;}
      }

      .overlay {
        opacity: 1;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        transform: translateY(3px) ;
        -ms-transform: translateY(3px) ;
        -webkit-transform: translateY(3px) ;
        position: relative;
         -webkit-transition: all .5s ease;
        transition: all .5s ease;
      }
    }

    h2 {
      font-weight: 600; color: $gray;
      line-height: 1.2em;
      font-family: $raleway; text-transform: uppercase;
      font-size: 25px;
      text-align: center;
    }

    p {
      font-family: $pro;
      color: $gray;
      font-size:16px;
      &.visible {padding:10px; margin-bottom: 5px; padding-bottom:0}
    }

    @include bp(md) {
      .overlay { display: none;}
      .content { height: 300px;}
      .hs-icon {
        @include center-block ();
        width: 75px;
        height:75px;
        padding-bottom: 10px;
      }
      p.visible {padding:0px; margin-bottom: 5px; }
    }
    @include bp(sm) {
      padding:0;
      .content { height:auto; padding: 20px;}
    }
  }

  .partners{ @include sec-default (); background-color: $white;
    background-image: url(image_path('pattern10.png'));
    background-repeat: repeat;
    background-position: top left;

    .left {
      @include sec-default ();
      padding:40px 20px;
      text-align: center;
      h2 { padding-bottom: 40px; font-family: $lato; font-weight: 800; color: $teal; }
    }
    .right {
      @include sec-default ();
      background-color: $white;
      padding-top:10px;
      padding-left:30px;
    }
    .service-link { @include center-block ();}
    .service-link:hover { background-color: $teal; color: $white; border:1px solid $dark;}
    .p-img { width: 30%;  display: inline-block;
      border-right: 1px solid #dfdfdf;
      padding: 10px;
      &.last {border-right: 0;}
    }
    hr.small {display: none;}

    @include bp(md) {
      .service-link { float: left; display: inline-block; width: 40%; margin-left:20px;
          &.one {margin-right:15px;}
      }
    }

    @include bp(sm) {
      .service-link { display: block; width: 90%; @include center-block ();}
      .p-img { width: 49%; border:0;
        &.xsbord{border-right:1px solid #dfdfdf;}
      }
      hr.large {display: none;}
      hr.small {display: block;}
    }
    @include bp(xs) {
      .service-link { display: block; float: left;}
    }
  }
}

.about {
  p { font-family: $pro;}

  .about-page1 {
    @include sec-default ();
    background-size:100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url(image_path('tech-header.jpg'));

    h1 { font-weight: 800; font-family: $lato; font-size:50px; margin-bottom: 5px; color:$white; }
    h3 { font-weight: 600; font-family: $lato; font-size: 30px; margin-top: 0; color:$light-gray; padding-top:0; padding-bottom:10px;}
    p { font-style: italic; color: $white; font-size: 18px;}

    .inner {
      @include sec-default ();
      height:500px;
      background-color: rgba( $black, .55);
      padding: 50px 30px 20px;
    }

    h3.quote {
      font-style: italic;
      color: $white;
      position: absolute;
      z-index: 9;
      opacity: 0.7;
      font-size: 30px;
      line-height: 1.2em;
      text-align: left;
      margin-top: 35%;
      right: -20px;
      width: 90%;
      -webkit-transform-origin: top center;
      -moz-transform-origin: top center;
      -o-transform-origin: top center;
      -ms-transform-origin: top center;
      transform-origin: top center;
      -webkit-transform: rotate(-15deg);
      -moz-transform: rotate(-15deg);
      -o-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }

    @include bp(md) {
      background-position: top left;
      margin-bottom:10px;

      .inner { height: 275px; padding:10px 10px 40px;}
      p {width: 70%; }
      h3 { padding-bottom:5px; font-size: 25px;}
      h3.quote {
        font-size: 20px;
        padding-top:10px;
        left: 0;
        width: 90%;
        opacity: 0.7;
        margin-top: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        padding-bottom: 15px;
      }
      h1 { font-size: 40px}
    }

    @include bp(sm) {
      .inner {padding:0;}
      h1 { font-size: 30px;}
      h3 { font-size: 20px;}
      p { width:100%;}
      h3.quote { width: 100%;}
    }

    @include bp(xs) {
      .inner { height: 300px; }
      h3 { font-size: 17px;}
    }
  }

  .about-page2 {
    @include sec-default ();
    background-color: $white;

    .inner {
      @include sec-default ();
      padding: 80px 0 80px 45px;
    }

    .story {
      @include sec-default ();
      p {color: $dark; font-size:17px;}
    }

    @include bp(md) {
      padding-left:0px;
      .inner {padding:20px;}
      .story-img { width: 50%;}
    }

    @include bp(sm) {
      .story { padding-left:0px;padding-right:0px;}
    }
  }

  .about-page3 {
    @include sec-default ();
    background-color: $light-gray;
    background-size: 58.35%;
    background-position: right top;
    background-repeat: no-repeat;
    background-image: url(image_path('startup6-bw.jpg'));

    .left {
      @include sec-default ();
      padding:40px 60px 30px;
      background-color: $light-gray;

      h4 { font-weight: 900; font-family: $lato; font-size: 21px; line-height: 1.3em; color:$dark; padding-bottom:20px;}
      p { color: $dark;}
    }

    .right {
      @include sec-default ();
      background-color: rgba( $off-white, .8);
    }

    @include bp(md) {
      background-size: 100%;
      background-position: center center;
      .left {padding:40px;}
      .about-hold { display: none;}
    }

    @include bp(md) {
      background-position: bottom center;
    }
  }

  .about-service {
    @include sec-default ();
    @include sec-bgimage ();

    .content { @include sec-default (); background: rgba($teal, 0.6); height:130px; padding:20px 25px; }
    .title { @include sec-default (); padding-top: 20px; text-align: center;}
    &:hover .content {
      background: rgba($black, 0.8);
      -webkit-transition: all .25s linear;
      transition: all .25s linear;}
    &:hover .overlay {
      opacity: 1;
      -webkit-transition: all .25s linear;
      transition: all .25s linear;
      transform: translateY(15px) ;
      -ms-transform: translateY(15px) ;
      -webkit-transform: translateY(15px) ;
      position: relative;}

    h3 {
      font-weight: 800; color: $white;
      line-height: 1.2em;
      font-family: $raleway; text-transform: uppercase;
    }

      &.website {
        &:hover .content { background: rgba($b-gray, 0.9)}
      }
      &.ecommerce {
        &:hover .content { background: rgba($silver, 0.9)}
      }

      &.dmarket {
        &:hover .content { background: rgba($b-gray, 0.9)}
      }

      @include bp(md) {
        width: 33.2%;
        &.dmarket, &.website {.content { background: rgba($silver, 0.6)}}
        .title { padding-top:0;}
      }

      @include bp(sm) {
        width: 100%;
      }

    }
}

.clients {
  .client-sec1 {
    @include sec-default ();
    background-image: url(image_path('busy.jpg'));
    @include sec-bgimage ();
    background-position: center center;
    background-attachment: fixed;

    .inner {
      background-color: rgba($b-gray, 0.6);
      @include sec-default ();
      text-align: center;
      padding:80px 0px;
    }
  }

  h1 {
    color: $white;
    font-family: $lato;
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 900;
    padding-bottom:30px;
  }
  h3 {
    color: $dark;
    font-family: $lato;
    font-size: 30px;
    line-height: 1.1em;
    padding-bottom:20px;
    font-weight: 600;
  }
  @include bp(md) {
    .client-sec1 {background-attachment: scroll;
      .inner {padding:30px 0px;}
    }
    h1 { font-size:30px;}
  }

  .intro-box {
    @include sec-default ();
    background-color: $white;
    padding: 40px 0 ;
    padding-bottom: 90px;
    text-align: center;
    h4 { color: $dark; line-height: 1.4em; font-size:17px; font-family: $lato; }
    h4.plus { font-size:26px; font-weight: 800;  text-transform: uppercase; margin-top:20%;
      span { color: $teal; letter-spacing: 1px;}

    @include bp(md) { margin-top:20px; padding-bottom: 10px;}
    @include bp(sm) {font-size: 18px;}
    }
  }

  .client-logos {
    @include sec-default ();
    padding-top:40px;
  }
  .logo-sec {
    @include sec-default ();
    border-left: 1px solid #dfdfdf;
  }
  .clientlogo{
    padding:20px;
    width: 32.5%;
    display: inline-block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

    &:hover {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
    }
  }

  @include bp(md) {
      .client-logos { padding-top:0px; }
      .logo-sec { border-left:0;}
      .clientlogo{
        width: 45%;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
      }
  }
  @include bp(sm) {
    .clientlogo{ padding:10px; width: 49%;}
  }

  .portfolio2 {
    @include sec-default ();
    background-color: $light-gray;

    .work-section {@include sec-default(); background-color: $light-gray; padding:30px 30px 15px;}

    .header {@include sec-default (); background-color: $dark; padding: 10px; text-align: center;
      h3 { color: $white; margin-bottom:0;  line-height: 1em;}
      p { color: $white; margin-top:0px; line-height: 1em; font-size:15px; font-style: italic;}
    }

    .box {border:3px solid $white;}

    .portfolio-block .over-frame {
      -webkit-transition: all 0s ease;
      transition: all 0s ease;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      display: block;
    }
    .portfolio-block .over {background: rgba($teal, .8);}
    .portfolio-block .box-holder {padding-top: 60%;}
    .portfolio-block:hover img{
      overflow: hidden;
      -webkit-transform:scale(1.05);transform:scale(1.05);
      -webkit-transition: all .6s ease;
      transition: all .6s ease;
    }
    .portfolio-block .title {
        margin-top:-3%;
        font: 800 25px/1.2em $lato;
        padding-top:10px;
    }

    @include bp(sm) {
      padding-left:10px;
      padding-right:10px;

      .no-padding-r.pleft-3 { padding-left:5px; padding-right:5px; }
    }
  }
}

.team {
  .team-h1 {
      @include sec-default(); height: 200px; padding: 20px 0; background-color: $dark;
      background-image: url(image_path('startup6-bw.jpg')); background-position: center right; background-repeat: no-repeat; background-size: 70%;
      h1 {text-transform: uppercase; font-family: $raleway; font-size: 45px; color: $white; font-weight: 800; padding-top: 30px;}
  }
  @include bp(md) {
    .team-h1 {
      height: 150px;
      background-color: $white;
      background-size: 100%;
      position: relative;
      text-align: center;
      &::before {
        content: '';
        width:100%;
        height: 100%;
        top:0;
        left: 0;
        position: absolute;
        z-index: 0;
        background: rgba($black, .8);
      }
      h1 {position: relative; z-index: 1;padding-top:15px;}
    }
  }

  @include bp(sm) {
    .team-h1 {height: 100px; h1 {padding-top:0; font-size: 30px;}}
  }
}

.ecommerce {
  overflow-x:hidden;
    p, h2,h3,h4,h5 {font-family:$pro}
    ol.carousel-indicators li { color: $dark; background-color: $dark}

    .e-header {
      @include sec-default ();
      background-image: url(image_path('ec-header.jpg'));
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center left;
      background-attachment: fixed;
      padding-top:50px;
      padding-left:30px;
      height:410px;
      overflow:hidden;
      h1 {
          font-size: 60px;
          color: $white;
          font-family: $lato;
          font-weight: 900;
          margin-bottom:0;
          text-transform: uppercase;
      }
      @include bp(md) {
        background-attachment: scroll;
        padding:20px 10px;
        height:auto;

        h1 { font-size: 40px; padding-bottom:15px;}
      }
      @include bp(sm) {
        padding-top:10px;
        h1 { font-size: 25px; padding-bottom:0px;}
      }
    }

    .ecommerce-page-2 {
      @include sec-default ();
      @include slopey-layout-r ();
      padding-top:40px;
      overflow: hidden;

      .border-slope {
        width: 110%;
        position: absolute;
        margin: 0;
        right:-10px;
        top:68%;
        padding-top:45px;
        background: darken($white, 5%);
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: rotate(-4deg);
        -moz-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        transform: rotate(-4deg);
        box-shadow: 0px -1px 1px rgba(0,0,0,0.4);
        overflow: hidden;

        .slope {
          overflow-x: hidden;
          margin:0 auto;
          -webkit-transform: rotate(4deg);
          -moz-transform: rotate(4deg);
          -o-transform: rotate(4deg);
          -ms-transform: rotate(4deg);
          transform: rotate(4deg);
          padding:40px 0px 20px 30px;
        }
      }

      @include bp(md) {
        .border-slope { display: none;}
      }
    }

    .inside-ecom2 {
      @include sec-default ();
      p { color:$dark; font-size:16px; }
      h4 {color: $dark; line-height: 1.4em;}

        .content {
          @include sec-default ();
          background-color: $white;
          padding:50px 10px 80px ;
        }

        .ecol-1 { @include sec-default (); padding-right:15px;}
      }
      .intro-box {
        @include sec-default ();
        padding:25px 30px 30px 0px;
        h3 { color: $dark; font-weight: bold}
        p{ color: $gray; }
      }

      .efol-img {
        border:1px solid #dfdfdf;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        position: relative;
        display: block;

        &.odd {
          -webkit-transform: rotate(5deg);
          -moz-transform: rotate(5deg);
          -o-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
          transform: rotate(5deg);
        }
        &.first { margin-top: -18%; z-index: 99;}
        &.left { margin-left:-25%; margin-top:-5%; z-index: 80; width: 90%;}
        &.right { margin-top:-10%; float: right; margin-right: -5%; z-index: 70;}
        &.aside { margin-top:20px; }
      }

      @include bp(md) {
        .inside-ecom2 {
          .content {padding:10px}
        }
        .ecol-1 { padding:0;
          div { width: 32.3%; display: inline-block;}
        }
        .efol-img {
          display: inline-block;
          &.first, &.left, &.right, &.aside {
            display: inline-block;
            margin:0;
            float:none;
          }
        }
        .inside-ecom2 .intro-box {padding-right:20px;}
      }

      @include bp(sm) {
        .ecol-1 { padding:0;
          div { width: 49%; display: inline-block;}
        }
        .efol-img.right {display: none}
        .inside-ecom2 .intro-box {padding:10px 0;}
      }

        p.slope {
          top: 0px;
          right: 0px;
          font-weight: 800;
          line-height: 1.4em;
          position: absolute;
          z-index: 9;
          color: $teal;
          opacity: 0.4;
          font-size: 25px;
          text-align: left;
          -webkit-transform-origin: top center;
          -moz-transform-origin: top center;
          -o-transform-origin: top center;
          -ms-transform-origin: top center;
          transform-origin: top center;
          -webkit-transform: rotate(-10deg);
          -moz-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
          width: 100%;

          @include bp(md) { display: none; }
        }


        .ecommerce-page-3 {
          @include sec-default ();
          background-color: $light-gray;

          .over {
            padding:0;
          }

          .intro-box {
            @include sec-default ();
            padding:25px 50px 10px 65px;
            padding-right: 0;
            h3 { color: $dark; font-weight: bold; padding-bottom:25px; padding-left:15px;}
            p{ color: $dark; text-align: left; margin-bottom: 30px;
              &.last {margin-bottom:15px;}
            }

            i.cart {
              content: url(image_path('icon-shop.png'));
              width: 35px;
              height: 35px;
              display: inline-block;
              float: left;
              margin-right:5px;
            }
          }

          .service-link {
            margin-bottom:35px;
            &:hover { background-color: $white;}
          }
          .partner-box {
            @include sec-default ();
            background-color: $off-white;
            padding:30px;
            padding-bottom:35px;
          }

          .partner-img.pi1 { padding:20px; }
          .partner-img.pi2 { padding:35px; }
          .partner-img.pi3 { padding:25px; margin-bottom:0}

          @include bp(md) {
            .intro-box {padding:15px;
              h3 {text-align: center;}
            }
            .cart-sec {width: 48.5%; display: inline-block;
              &.one {margin-right:10px;}
            }
            .service-link{margin-right:30px;}
            .partner-img{
              width: 30%;
              display: inline-block;
              &.pi1{ padding:10px; }
              &.pi2{ padding:15px; }
              &.pi3{ padding:15px; }
            }
          }
          @include bp(sm) {
            .intro-box {padding:5px;
              i.cart { width: 30px; height: 30px; }
            }
            .cart-sec {width: 100%; display: inline-block;
              &.one {margin-right:0px;}
            }
            .service-link{width: 75%; text-align: center;}
            .partner-img{
              width: 90%;
              display: inline-block;
              margin-bottom:10px;
              &.pi1{ padding:5px; }
              &.pi2{ padding:20px 5px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; }
            }
          }
        }
}

.design {
  .webdesign {
    @include sec-default ();
    background-color:$white;
    background-image: url(image_path('monitor.png'));
    background-size: 55%;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top:70px;
    padding-bottom:300px;


    h1 { font-size:75px; line-height: 1em; font-family: $roboto; font-weight: 900; color:$teal; padding:20px 0 30px 35px; text-transform: uppercase; }
    h1:before { content: '<'; font-size: 135px; font-weight: normal; color: $teal; position: absolute; left:-3%;}
    h1:after { content: '>'; font-size: 135px; font-weight: normal; color: $teal; position: absolute; }
    h1:hover span:nth-child(1) {
      color: $dark;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s;}

    h3 { color: $dark; }
    .focus { font-size:40px; line-height: 1em; font-family: $raleway; font-weight: 900; color:$light-gray; text-transform: uppercase; display: inline-block; margin-right:10%; margin-bottom:15px;}

    @include bp(md) {
      background-size: 42%;
      padding-top:30px;
      padding-bottom:60px;
      padding-right:10px;

      h1 { font-size:50px;float: right; padding:0; }
      h1:before, h1:after{ position:relative; font-size: 65px;}
      h1:before { left:0;}
      h1:after { right:1px;}
      .focus { font-size:18px; float:right; margin-right:5px; margin-left:5px; margin-bottom:5px;}
    }

    @include bp(sm) {
      background-position: bottom left;
      background-size: 30%;
      padding-top:15px;
      padding-bottom:50px;
      text-align: center;
      h1 { font-size:30px;float: none; }
      h1:before, h1:after{ position:relative; font-size: 35px;}
      .focus { font-size:15px; float:none; margin-right:5px; margin-left:5px; margin-bottom:5px;}
    }
  }

    p { color: $dark; font-family: $pro; font-size:16px; }

    .webdesign-body {
      @include sec-default();
      background-color:darken($off-white, 10%);

      svg.half-circle { width: 100%; margin:0; margin-top:-12%; }
      #bigHalfCircle path {
        fill: darken($off-white, 10%);
        stroke: darken($off-white, 11%);

        @include bp(md) {display: none; }
      }

      .wb-1 {
        @include sec-default();
        padding:55px 30px 80px 40px;
      }
      h3 { color: $teal; font-weight: 800; letter-spacing: 1px; font-size: 33px; line-height: 1.2em; padding-bottom:10px; }

      .mockup {
        width: 80%;
        @include center-block ();
      }

      @include bp(md) {
        .mockup { width: 80%; padding-top:25px;}
        .wb-1 { padding:0px 10px 40px 10px; }
        h3 { font-size: 27px;text-align: center; }
      }

      @include bp(sm) {
        .wb-1 { padding:20px 0; }
        h3 { font-size: 22px; text-shadow:none;}
      }
    }

    svg.big-triangle { width: 100%; margin:0;}
    #bigTriangleColor path {
      fill:darken($off-white, 10%);
      stroke: darken($off-white, 12%);
      stroke-width: 1;
    }

    .post-wb {
      @include sec-default ();
      background-color: $white;}

      .inner {  @include sec-default (); padding: 80px 0 120px ;
          height:560px;

      p.up { font-weight: bold; text-transform: uppercase; margin-bottom: 3px;}
      h4 { color: $teal; font-weight: 800; font-size: 18px; line-height: 1.1em; margin-bottom:5px; font-family:$lato; text-transform: uppercase;}

      .last p {margin-bottom:0;}
    }

    a.left.carousel-control, a.right.carousel-control { color: rgba($white, 1);}
    #carousel-example-generic{background-color: transparent;}
    .carousel {
      @include sec-default ();
      @include sec-bgimage ();
      background-color: transparent;
      background-image: url(image_path('web6.png'));
      padding:25px 20px 80px;
    }
    .service-link {
      @include service-link ();
      margin-top:25px;
    }
    .bot-box{ @include sec-default (); padding: 15px 40px 15px 30px; }

    @include bp(md) {
      .post-wb { .inner {  padding: 50px 0; height:auto;} }
      #carousel-example-generic {width:75%; @include center-block (); }
      .service-link {float:left; margin-left:20px; margin-right:30px; }
    }

    @include bp(sm) {
      .service-link {float:left; margin-left:10px; margin-right:20px; }
      .xs-pad0 { padding:0;}
      .bot-box{ padding: 10px; }
    }


    nav a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        outline: none;
      }
    }

    .cl-effect-11 a::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      max-width: 0;
      color: $dark;
      content: attr(data-hover);
      -webkit-transition: max-width 0.5s;
      -moz-transition: max-width 0.5s;
      transition: max-width 0.5s;
    }

    .cl-effect-11 a:hover::before,
    .cl-effect-11 a:focus::before {
      max-width: 100%;
    }
}

.sem {
  .sem-page {
    p { font-size: 17px; font-family: $roboto}

    .sem-sec1 {
      @include sec-default();
      @include slopey-layout-r ();
      background-color: $white;
      background-image: url(image_path('dm-header.jpg'));
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-size: 100%;
      background-position: center left;
      overflow: hidden;
      height:480px;

      .bg-over {
        @include sec-default();
        background-color: rgba($b-gray, 0.3);
        padding:40px 0 160px 0px;
        height:480px;
      }

      .title-box { position: absolute; z-index: 1;}
      h1 { font-size: 50px; font-family: $poppins; font-weight: 800; color: $white; text-transform: uppercase; }
      h2 { font-size: 28px; font-family: $poppins; text-transform: uppercase; color: $white; line-height: 1.3em;}
      p{color: $white; font-weight: bold;}


      .border-slope {
            width: 110%;
            position: absolute;
            right:-15px;
            margin: 0;
            top:77%;
            padding-top:40px;
            background-color: lighten($light-gray, 5%);
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            -ms-transform-origin: left center;
            transform-origin: left center;
            -webkit-transform: rotate(-4deg);
            -moz-transform: rotate(-4deg);
            -o-transform: rotate(-4deg);
            -ms-transform: rotate(-4deg);
            transform: rotate(-4deg);
            box-shadow: 0px -1px 1px rgba(0,0,0,0.4);
            overflow: hidden;

            .slope {
              overflow: hidden;
              margin:0 auto;
              -webkit-transform: rotate(4deg);
              -moz-transform: rotate(4deg);
              -o-transform: rotate(4deg);
              -ms-transform: rotate(4deg);
              transform: rotate(4deg);
              padding:40px 0px 50px 30px;
            }
          }
        }

      @include bp(md) {
        .sem-sec1 {
          background-attachment: scroll;
          background-position: top left;
          height:200px;
          margin-bottom: 15px;
          h1 { font-size: 40px; padding-top:0;}
          h2 { font-size: 20px;}
          p {font-size:15px;}

          .bg-over {
            padding:20px 0 40px;
            height:200px;}
        }
        .title-box { width: 50%;}
      }
      @include bp(sm) {
        .sem-sec1 {
          .bg-over {padding:20px 0 30px; height: 210px;}
            h1 { font-size: 30px; }
        }
        .title-box {width: 100%;}
      }
      @media only screen and (max-width: 570px) {
        .sem-sec1 {
          .bg-over {height:270px;}
        }
      }
      @include bp(xs) {
        .sem-sec1 {
          .bg-over {height:175px;}
        }
      }
      .sem-wrap {
        .light-bg { @include sec-default ();
          background-color: lighten($light-gray, 5%);
          padding:30px 0px;
          text-align: center;
          p { color: $gray; font-size: 18px; font-style: italic; margin-bottom:30px;}
          h3 { color: $dark; font-weight: 800; padding-bottom: 5px; font-size: 21px; }
        }

        .campaigns {
          width: 100%;
          padding: 35px 0 0;

          .bp-img { width: 40%; display: inline-block; padding:0 15px; }
          .google-badge { width: 50%; display: inline-block; float: right;

            @include bp(md) {
              float: none;
              display: block;
              @include center-block ();
            }
          }

          .sem-serv {
            @include sec-default();
            position: relative;
            background-color: $teal;
            padding: 20px;
            h4 {margin-bottom:3px;}
            p {color: $white; margin-bottom:25px;}

            i.sem-con {
              height: 40px;
              content: url(image_path('lb.png'));
              display: inline-block;
              float: left;
              padding-top:3px;
              padding-right:7px;
            }
          }
        }

        .intro{ @include sec-default (); padding:10px 25px 35px 25px;
          .title{ font-size:35px; margin-top:15px; font-weight:800; position:relative; color: $b-gray;font-family: $lato;}
          .title:after{content:''; width:3px; height:85px; background:#dad9e0; position:absolute; left:17px; top:23px; z-index:-1;}
          p { padding-left:30px; color: $dark; font-family: $lato;}
        }
        h4 { color: $dark; padding-bottom: 2px;font-family: $lato; }
        p{font-family: $lato;}

          @include bp(md) {
            padding-top:10px;

            .light-bg { padding: 30px 15px 0px;
              p {padding-left:0px;}
            }

            .campaigns { padding-top:10px; padding-bottom:20px;
              .no-padding-r {padding-right: 10px;}
              .sem-serv p{color: $gray; font-weight: bold;}
              .bp-img { width:50%; display: block; padding:5px; @include center-block ();}
            }
            .intro {padding-bottom: 10px;}
            h3 {padding-top:0; margin-top:0;}
          }

          @include bp(sm) {
            .light-bg { padding-top:0; }

            .intro{
              .title{ font-size:30px;}
              p {padding-left:10px;}
            }

            .campaigns {
              .bp-img { width:70%; display: block; padding:5px; @include center-block ();}
              .sem-serv { padding: 20px 0 20px 0px;
                p {margin-bottom: 10px}}
            }
          }
      }
    }
}

.contact {
  background-color: $light-gray;
  .int-header { padding: 0; background-attachment: fixed; background-repeat: repeat;
    background-image: url(image_path('pattern3.png')); margin-bottom: 0px;
    .hero.bg-4{background-image: url(image_path('lightning-strike.jpg')); background-position: top left; background-repeat: no-repeat; background-size: 100%; height:450px;padding-top: 100px;}
    .page-name {font-size: 50px; font-weight:900; color:$white; font-family: $lato; margin-top:3px; text-transform: uppercase;letter-spacing: 2px;}
    h2 {font-size:20px; font-weight:700; color:$white; margin-bottom:0px; font-family: $lato; text-transform: uppercase; letter-spacing: 1.5px; padding-left: 10px;}
  }

    @include bp(md) {
    .int-header {background-attachment: scroll;
      .hero.bg-4 { height:220px; padding-top:30px;}
    }

    .contact-serve {
      margin-bottom:15px;
      padding-top:10px;
    }
  }
    @include bp(sm) {
     .int-header {
      .hero.bg-4 { height:160px;}
      h2 {font-size: 17px}
      .page-name {font-weight:700; font-size: 30px;}
    }
  }

  .main-contact { @include sec-default (); padding:35px 0 50px; font-family: $lato; background-repeat: repeat;background-image: url(image_path('pattern10.png'));
    .teal {background-color: $teal; margin-top:20px; padding-bottom: 15px; padding-left: 30px; height:100%;}
    h3 {font-weight: 800;}
    h3.location {font-size:20px; text-transform: uppercase; margin-bottom: 10px; color: $dark; font-weight: 700; }
    address{ @include sec-default (); margin-bottom:10px;
      .title{ font-size:14.5px; font-weight:600; color:$b-gray; margin-bottom:4px;}
      span { @include sec-default (); padding-left:46px; font-size:16px; font-weight:600; position:relative; color: $white;
        &:before{content:''; width:26px; height:3px; background:$light-gray; position:absolute; left:0; top:10px;}
        i {font-size: 17px; color: $white; margin-right: 10px; margin-left: 5px;
          &:hover {color: $silver; text-decoration: none;}
        }
        a:hover {text-decoration: none;}
      }
    }
    h5 {font-family: $lato; font-size: 15px; line-height: 1.4em; }

    @include bp(md) {
      .teal { padding-left: 0px;}
      .loc1, .loc2 { width: 49.5%; display: inline-block;}
    }
    @include bp(sm) {
      .loc1, .loc2 { width: 100%;@include center-block(); }
    }


    .contact-serve {
      @include sec-default ();
      padding-top:30px;

      .contact-icon { height: 60px; @include center-block ();}
        h3 { font-size: 16px; text-align: center; font-weight: bold;}
        &:hover{text-decoration: none; h3 {color: $teal; -webkit-transition: all .6s ease; transition: all .6s ease; }}
        &:nth-child(3) {margin-bottom: 0;}
    }
    @include bp(md) {padding: 20px 0;
      .servcon-holder {width: 80%; @include center-block();}
      .serv-con {display: inline-block; width: 32%;
        h3 {font-size: 14px;}
        .contact-icon { height: 45px;}
      }
    }

    @include bp(xs) {
      .servcon-holder {display: none;}
    }
  }

  .contact-join {
    @include sec-default ();
    background-color:#e1e1e1;
    background-size: 52%;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url(image_path('desk.jpg'));

    .text {
      padding:25px 30px 20px 0px;
    }

    @include bp(md) {background-image: none;text-align: center;}

    h3, h4, p {color: $dark; font-family: $lato;}

    h3 { font-weight: 800; color: $teal; font-size: 26px;}
    p { margin-top: 15px; font-style: italic; font-size: 15px;}

    .careers {
        @include sec-default ();
        background-repeat: no-repeat;
        background-image: url(image_path('ic2.png'));
        background-size: 45%;
        background-position: center center;
        text-align: center;
        height:135px;

        @include bp(md) {background-size: 25%;}

        .icon {width: 50%;}
        h2 { font-weight: 800; color: $dark; padding-top:20px;}

        &:hover { text-decoration: none;
          background-size: 20%;
          -webkit-transition: all .6s ease;
          transition: all .6s ease;

          h2 { color: $teal; text-shadow: 0px 1px 1px $dark; -webkit-transition: all .6s ease; transition: all .6s ease;}
        }
    }
  }
}
